[2018-06-20 03:16] familqasimov opened #2 "Logo offer for react native date picker"
Hi sir. I'm graphics designer. I have studied your work. I think a simple logo will make you more visible. I would like to offer logo. I can give you all the formats of the design free. If you want I send you PR or a change please specify. Colors were selected as an example. You can write whatever you want.

![react-native-date-picker](https://user-images.githubusercontent.com/36432269/41635319-34

[2018-06-26 20:14] henninghall commented on #2
Hi! Wow, really appreciate your effort! Even though I am not very interested in adding these to this project I know someone who might be! Check out https://github.com/AntonNiklasson/react-dategrid/issues and make a request there, good luck!

[2018-06-26 20:14] #2 closed

[2018-09-06 13:52] SnowChasm opened #5 "android compile problem"
when i add this to my project,it shows
Error:(4, 0) Cannot get property 'compileSdkVersion' on extra properties extension as it does not exist
<a href="openFile:/Users/wangchao/developer/react_native/ingsoccer/node_modules/react-native-date-picker-x/android/build.gradle">Open File</a>

i have to edit this file like this:
    compileSdkVersion 23
    buildToolsVersion "23.0.1"

    defaultConfig {

[2018-09-07 12:51] #5 closed

[2018-09-07 14:19] henninghall commented on #5
Thanks for reporting! The issue is solved and will be included in the next release, I will try to get it out very soon!

[2018-09-10 11:11] HelgyIngvarsson opened #8 "Double 'September on Android platform."

[2018-09-10 12:17] henninghall commented on #8
Thanks for reporting this, i will have a look at this asap!

[2018-09-11 14:27] jfrense opened #9 "Unable to resolve react-native-datepicker-x in 2.0.0 version"
I get the following error when trying to implement your component:

`Unable to resolve module 'react-native-date-picker-x' from '/Users/xxx/xxxx/xxxx/node_modules/react-native-date-picker/DatePickerAndroid.js': Module does not exist in the module map`

looks like to me in your DatepickerAndroid.js file you are still trying to import based on the old name:

[code]

[2018-09-11 18:36] henninghall commented on #9
Thanks for reporting this! This is fixed in version 2.0.1

[2018-09-11 18:36] #9 closed

[2018-09-13 01:38] zeritte opened #11 "Native component for RNDatePicker does not exist."
Hi, I just loved the idea of cross-platform wheel date picker. However, after installation steps, I get that error. Here is my package.json and error ss:
<img width="457" alt="screen shot 2018-09-13 at 04 37 32" src="https://user-images.githubusercontent.com/35241861/45462056-cc4fb100-b70e-11e8-9e68-0803ed784efd.png">
![screen shot 2018-09-13 at 04 37 37](https://user-images.githubusercontent.com/

[2018-09-13 05:40] henninghall commented on #11
Hi! Expo does not support native components. If you still want to use this component you will need to reject from expo or trying their "early/alpha support" for native code. Read more here:
https://docs.expo.io/versions/latest/introduction/faq#how-do-i-add-custom-native-code

[2018-09-13 05:40] #11 closed

[2018-09-13 19:12] KimAM opened #12 "Loading is slow on Android"
Hi Henning,

Thanks for this great library, just what we've been looking for!

We've tried implementing this in our app, but it seems to load slow on Android. After some debugging we've located the issue in PickerView.java

Both in setMode and setLocale you call the `applyOnAllWheels` method, and we've measured this to take between 200 and 400 milliseconds each time on the emulator. They are of co

[2018-09-13 19:48] KimAM commented on #12
So digging a bit more and found this in `init` in `DayWheel.java`:

[code]

That loop running 10'000 times is the problem. You are probably aware due to the `//bug` comment 😃

[2018-09-13 19:53] henninghall commented on #12
Hi Kim, nice to hear!

Thanks for reporting this! 👍 I definitely agree that the performance could be optimized on Android. I will have a look at it at some point but I can't guarantee a quick fix. If you find anything else that might be of interest to track down performance bottlenecks, please let me know!

[2018-09-16 08:59] SnowChasm opened #13 "date and locale crash in android"
hey, I have a problem with this:
I use this code in my project, <DatePicker locale='zh' mode='date' date={new Date()} />
in ios, this work fine, but in android, the app will crash.
When I remove the locale, this work fine.

I also found a bug about dateime mode in android:
My code is <DatePicker locale='zh' minuteInterval={5} date={new Date()} mode='datetime' />
When I select a time, the time's ye

[2018-09-16 16:53] henninghall commented on #13
Hi

Thanks for reporting this. I have tried but I don't manage to reproduce it. The app simply won't crash for me, it shows the Chinese localized picker as expected. Do you mind sending the crash log from Android studio?

[2018-09-16 16:53] henninghall commented on #13
Hi @SnowChasm

Thanks for reporting this. I have tried but I don't manage to reproduce it. The app simply won't crash for me, it shows the Chinese localized picker as expected. Do you mind sending the crash log from Android studio?

[2018-09-18 09:52] henninghall commented on #13
@SnowChasm Could you also provide your phone model and android version?

[2018-09-19 02:35] SnowChasm commented on #13
I am sorry for my late reply.
this is the android studio crash log
<img width="975" alt="2018-09-19 10 32 18" src="https://user-images.githubusercontent.com/15647853/45727713-717af580-bbf7-11e8-95bc-fa0165f051a2.png">
the phone model is "YQ601 - 5.1.1", and android version is "5.1.1"

[2018-09-20 14:48] SnowChasm commented on #13
cool!
I will have a try~

[2018-09-21 00:32] MassivDash opened #15 "Invariant Violation: Native component for "DatePickerManager" does not exist"
I tried to use this lib, on existing project that uses Expo, RN (0.55.3), unfortunately I have encountered

"Invariant Violation: Native component for "DatePickerManager" does not exist"

The installation and react-native-linking did not throw any errors, the project runs as usual but, crashes when I try to display the date picker.

[2018-09-21 01:26] #15 closed, assigned to nobody

[2018-09-23 18:08] vatex opened #16 "Invariant Violation: Invariant Violation: Native component for "DatePickerManager" does not exist"
I use Expo.io and this error occurs: "Invariant Violation: Invariant Violation: Native component for "DatePickerManager" does not exist"

[2018-09-23 18:39] MassivDash commented on #16
I had the same issue, if you using expo unfortunately you will have to eject since expo does not support native components

[2018-09-23 19:49] vatex commented on #16
@MassivDash Thank you for response

[2018-09-23 19:49] #16 closed

[2018-09-25 10:43] NguyenPhatBG opened #17 "show only month and year ?"
How can i show only month and year ?

[2018-09-26 19:54] #13 closed

[2018-09-26 20:02] henninghall commented on #13
Released a fix for this in v2.0.4

[2018-10-09 09:09] khunghang16 opened #21 "android : View cannot be converted to NumberPickerView"
![screen shot 2018-10-09 at 4 09 01 pm](https://user-images.githubusercontent.com/27754944/46658784-b46c2f80-cbdd-11e8-8117-86f92767e296.png)

[2018-10-09 16:10] Alex-DG commented on #21
Hi @khunghang16 ,

If you go to `com.henninghall.date_picker/wheels/Wheel.java`

Go to line 35 and cast your view to NumberPickerView:
`this.picker = (NumberPickerView) pickerView.findViewById(id);`

It should fix your issue.

[2018-10-10 08:30] khunghang16 commented on #21
install version 2.0.0 and fix it .

[2018-10-12 16:44] khunghang16 commented on #21
You can show me example 'cast your view to NumberPickerView'.tks

[2018-10-14 18:33] henninghall commented on #21
Thanks for reporting this. It is fixed in v2.1.1

[2018-10-14 18:33] #21 closed

[2018-10-17 14:02] petr166 opened #22 "maximumDate on android is one day off"
When setting the `maximumDate` prop to the current date, the maximum selectable date is set to the day before.

Example:
maximumDate = 12 Sep,
the selector displays options with the last one being 11 Sep

Versions:
react 16.4.1
react-native 0.56.0
android 8.1 (also tested on 7.0)
react-native-date-picker 2.1.1

[2018-10-17 14:48] henninghall commented on #22
Thanks for reporting this, I'll have a look at it!

[2018-10-19 09:55] marotan3 commented on #22
May be related: if I set both a `minimumDate` and a `maximumDate`, on android the app crashes. The dates I use are:

`minimumDate`: 1903-10-19T00:00:00.000Z
`maximumDate`: 2000-10-19T00:00:00.000Z

Versions:
react 16.3.1
react-native 0.55.4
android 8.1.0
react-native-date-picker 2.1.1

[2018-10-22 10:41] josharmitage opened #23 "Selecting a date before the Unix epoch on Android causes a crash"
Selecting a date before 01-01-1970 using the date picker causes the app to crash:

`Attempt to invoke virtual method 'long java.util.Date.getTime()' on a null object reference`

Date picker was created using the "Minimal Example" in the README.

Versions:
react 16.3.1
react-native 0.55.4
android 9.0 (API 28)
react-native-date-picker 2.1.1

[2018-10-22 13:44] henninghall commented on #23
Thanks for reporting this! I will have a look at it!

[2018-10-25 06:29] sudiddo opened #25 "Execution failed for task ':app:transformDexArchiveWithDexMergerForDebug'."
I followed the instruction, first i use yarn then react-native link

after that, this error happen
Execution failed for task ':app:transformDexArchiveWithDexMergerForDebug'.

I try to remove your date picker and it's coming back to normal.

[2018-10-25 19:48] henninghall commented on #25
Hi! Thanks for reporting this. Your issue is probably related to [this StackOverflow question] (https://stackoverflow.com/questions/37497882/errorexecution-failed-for-task-apptransformclasseswithdexfordebug-in-androi/37498040). You might have to enable multidex.

Since this problem doesn't appear in the example project I doubt it has something to do with this package itself. Feel free to reopen th

[2018-10-25 19:48] #25 closed

[2018-11-03 22:50] LeonidVeremchuk opened #26 "MinuteInterval not works for time mode"
Hello!
Thank you for your product.
Also have a problem with minuteInterval.

mode: 'time'
minuteInterval: 15

result(http://prntscr.com/le31am)

with mode 'datetime' everything works fine

[2018-11-05 19:48] LeonidVeremchuk commented on #26
This problem gone when setup:
  minimumDate={startDate}
  maximumDate={endDate}

[2018-11-06 22:18] henninghall commented on #22
Solved by https://github.com/henninghall/react-native-date-picker/commit/44961680e2afeb0e392c4bd7a71f9e6ed3cb8cd4 and released in `v2.2.0`

[2018-11-06 22:18] #22 closed

[2018-11-09 21:03] LeonidVeremchuk commented on #26
v2.2.0 do not contain fix for iOS version =(

[2018-11-09 22:06] jans-y opened #27 "iOS: linker command failed with exit code 1"
Hello,

I am getting this error when Archiving my RN 0.56 app:

`duplicate symbol _OBJC_METACLASS_$_RNDatePickerManager in:
    /Users/.../Library/Developer/Xcode/DerivedData/...-bqptawcpsxqgneaaewpqnyffvggt/Build/Intermediates.noindex/ArchiveIntermediates/.../BuildProductsPath/Release-iphoneos/react-native-date-picker/libreact-native-date-picker.a(RNDatePickerManager.o)
    /Users/.../Library/Dev

[2018-11-09 23:09] henninghall commented on #26
Hi! This package wraps the original [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios) so for bugs regarding that one you will need to provide an issue or fix in the React Native project itself. Assuming the bug does not exist in [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker) which also could be the case.

[2018-11-10 18:56] jans-y commented on #27
**Hi,**

I was using CocoaPods for your library.

After all it seems that it was caused by a different issue.

After doing this, it started to work:
https://github.com/facebook/react-native/issues/12814#issuecomment-318922160

**Thank you for your hard work.**

Wish you luck.

[2018-11-10 18:56] #27 closed

[2018-11-12 04:47] teclagual opened #28 "onDateChange wont trigger after setting locale"
Adding the locale "es" does change the language of the DatePicker to spanish, but onDateChange stopped triggering.

If I remove the locale, onDateChange works again.

`import React from 'react';
import { View, Text } from 'react-native';
import DatePicker from 'react-native-date-picker';

export default class Citas extends React.Component {
    constructor(props) {
        super(props);
        th

[2018-11-12 06:58] henninghall commented on #28
Thanks for reporting this, I will have a look at it!

[2018-11-12 08:40] Time-erhu commented on #28
format='YYYY-MM-DD HH:mm'   like "2018-11-12  13:04"

[2018-11-13 08:36] phithu commented on #28
+1

[2018-11-13 19:49] henninghall commented on #28
Fixed by https://github.com/henninghall/react-native-date-picker/commit/228ae9bf9171712b5cc97b270b63f696743d9070 and released in `v2.2.1`

[2018-11-13 19:49] #28 closed

[2018-11-21 11:51] issamabdelkrim opened #30 "Native component for RNDatePicker does not exist"
Hi, after installation steps, I get that error
![capture d ecran 2018-11-21 a 12 48 24 pm](https://user-images.githubusercontent.com/11806926/48839530-15198b00-ed8c-11e8-87ac-1001d91e1fed.png)

i didn't use expo

[2018-11-21 12:42] henninghall commented on #30
Hi! Are you using Cocoapods?

[2018-11-21 12:55] issamabdelkrim commented on #30
Yes

[2018-11-22 10:39] henninghall commented on #30
I have managed to reproduce this, its definitely an issue when using CocoaPods. I will try to fix it, in the meantime you can manually link the project like this: [Manual Linking ](https://facebook.github.io/react-native/docs/linking-libraries-ios#manual-linking)

For everyone not using CocoaPods you can use `react-native link` as usual.

[2018-11-25 20:31] JoschaP commented on #30
Same problem on ios with manual linking.

The DateManagerPicker could not be found

[2018-11-28 20:58] henninghall commented on #30
I only manage to reproduce same error as @issamabdelkrim when the Podfile is setup incorrectly. For instance if react-native-date-picker is excluded. This could happen if you forget to use `react-native link` or `pod install`. With a [Podfile like this](https://github.com/henninghall/react-native-date-picker/blob/master/example-cocoapods/ios/Podfile) followed by a `pod install` it works perfectly

[2018-11-30 08:31] RaiSaugat commented on #30
I am having the same problem as @harshita-dhingra in android.

Can you help me on this one?

[2018-11-30 09:38] henninghall commented on #30
@RaiSaugat I will give it a try! What version of react-native and react-native-date-picker are you using?

[2018-11-30 09:41] RaiSaugat commented on #30
"react-native": "0.51.0",
"react-native-date-picker": "^2.2.1"

[2018-11-30 09:45] henninghall commented on #30
You can try upgrading react-native version if you have the possibility since it's 1 year old. https://facebook.github.io/react-native/docs/upgrading At some point I will investigate a bit around which versions that the package support.

[2018-11-30 10:10] RaiSaugat commented on #30
The same version works on my colleague workspace. But not in mine.

[2018-12-06 09:33] feetbo90 commented on #30
I am having same problem, what should I do?
"react-native": "^0.52.2",
"react-native-date-picker": "^2.2.1"

[2018-12-06 09:54] henninghall commented on #30
@feetbo90 Is it the android or ios issue?

[2018-12-08 13:35] henninghall commented on #30
I am pretty sure the original ios issue is related to the Podfile. See [my comment](https://github.com/henninghall/react-native-date-picker/issues/30#issuecomment-442602146) of how to solve it.

The Android issue mentioned in this thread is unrelated to the ios one why I consider it is best to open a separate issue for that one. If anyone still having that issue, please open an issue with a descri

[2018-12-08 13:35] #30 closed

[2018-12-13 06:52] dineshucreate opened #33 "Is there any way to change date order ?"
**I am looking to change Date order in Android**

[code]

It seems I can change date order but not able to do

Thanks

[2018-12-13 09:58] henninghall commented on #33
Hi! Yes the order is determined by the locale  so it could be changed by adding/changing the locale property. Does that work for you?

If you already set the locale property to the desired but received unexpected order, please provide your locale and I will have a look.

[2018-12-14 22:44] IbrahimCanKALYA opened #34 "How can i set height and width for picker ?"
I should set height and width to picker how can i do it?

I tried putting inside to View and giving propertie style and they didn't worked.

Its getting smaller when i set width, height smaller than
{
        width: 310,
        height: 180,
}
but its wont growth when set bigger then this parameters.

I'am trying this with android.
react-native: v 0.57.7
react-native-date-picker: v 2.2.1

Thanks i

[2018-12-19 12:37] ofito commented on #30
I Have the same problem without Cocoapods. My version :
react-native: 0.55.2,
react-native-date-picker: 2.2.1

Sometimes react native link doesn't work correctly, it would be good a manual installation info.

Anyway, great job!.

[2018-12-21 19:18] #33 closed

[2018-12-25 13:54] henninghall commented on #30
@ofito Great idea, should definitely add that. Did you solve it by manual installation?

[2019-01-10 15:55] Nahani commented on #26
Hello,

I confirm that the **minuteInterval** not works for IOS version...
Please advice if you have some news :)

[2019-01-18 14:48] donatoaz commented on #12
Just a note to people who get here because they are still experiencing jankiness and slowness even after v2.0.3, check if (and what) you are passing in the `maximumDate` and `minimumDate` props.

I was passing a date 100 years ago and it was taking several seconds to load.

Anyways, thanks so much for the work guys! 🎉

[2019-01-26 02:29] Donclion911 opened #35 "Is not working for ios version"
Is not working for ios version

[2019-01-26 07:50] henninghall commented on #35
What exactly isn't working? Which error do you get?

[2019-02-01 11:23] #35 closed, assigned to nobody

[2019-02-06 09:54] hophoppoppop opened #36 "Minimum OS version for IOS"
Is there minimum for IOS version? if yes, from what version?

[2019-02-09 11:04] henninghall commented on #36
Hi! The minimum version is iOS 9 which is the same as React Native itself. More than 99% of the devices are using iOS 9 or higher.

[2019-02-09 11:04] #36 closed

[2019-02-09 14:29] henninghall commented on #34
Hi, thanks for reporting this! Custom width and height is unfortunately not supported yet. Currently it uses the default size of DatePickerIOS which is 310/180. I will have a look at it, but I'm not sure when I'll be able to implement it. Meanwhile, try to make a fork and change your desired measures.

[2019-03-04 09:34] hwde opened #37 "NullPointerException in Android at java.util.Calendar.setTime (Calendar.java:1749)"
It looks like the Picker can cause a NullPointerException if a "far future" date is picked, i.e. set the year to 2100 - maybe related to a Android/Java Date/Time limitation?. Maybe the issue is not the "pick" but the the update of the picker after the picked value has been send to the app.

Stack trace is:

[code]

[2019-03-04 17:46] henninghall commented on #37
Thanks for reporting this, I will have a look at it!

[2019-03-10 19:41] Blutude commented on #34
Also an issue for me! I'm trying to fit it inside a modal. I was previously using DatePickerIOS and it fit perfectly but now the AM and PM part is getting cut.

[2019-03-10 19:47] Blutude commented on #34
Actually, I had to wrap the datepicker in a view and set the style of the view to alignItems: 'center'. The size turned out to be fine, it just wasn't centered. (My datepicker is inside a modal and I didn't have to wrap the DatePickerIOS in a view). I guess DatePickerIOS is centered by default.

[2019-03-14 09:41] wangxueke opened #39 "Is there any way to change the gap between year and month and day?"
I think it is too narrow to me. Help
![gap](https://user-images.githubusercontent.com/26314706/54346634-6376d080-4680-11e9-8484-0fe4dea31230.png)

[2019-03-14 12:37] henninghall commented on #39
Hi! I believe there is no way to do this at the moment. It might be possible to fix by creating a fork and manually setting a fixed width of the native component.

To be able to customize the size of the component is next up on my to do list and might solve this issue. I will hopefully be able to fix it within 2-3 weeks. Feel free to make a PR if you solve this in a general way.

[2019-03-14 12:45] wangxueke commented on #39
ok，thank you very much~. I am waiting for you! haha.

[2019-03-14 12:45] #39 closed

[2019-03-19 09:31] Vic-L opened #40 "Invariant Violation: requireNativeComponent: "DatePickerManager" was not found in the UIManager"
Hihi,

I am facing this error on android.
With reference to #15, I am not using expo and i use `react-native init` when I started the app.
App can install normally on Android, but fails on open the date picker.
Works normally on iOS.

Am I missing something?

[2019-03-19 11:17] Humbl-e opened #41 "is24Hour format ?"
I wish to show the time according to the device setting : "Use 24-hour format" .
Currently if i change locale to 'eng-US' i get AM/PM which is default but i would like to give priority to device setting of 24-hour format for 'time mode' at least.
Is this possible if so how?

Thanks

[2019-03-19 19:21] Vic-L commented on #40
I matched the andorid config files in the example directory and found that the lines in `MainApplication.java` were missing.

    ...
    import com.henninghall.date_picker.DatePickerPackage;
    ...
    protected List<ReactPackage> getPackages() {
        // Add additional packages you require here
        return Arrays.<ReactPackage>asList(
                ...
                new DatePickerPacka

[2019-03-19 19:21] #40 closed

[2019-03-24 08:57] azhararmar commented on #30
I had the same issue, In my case react-native link did not work. solved it by manual installation. Here is how I did it.

1. Open project.xcworkspace
2. In the "Project Navigator > Libraries" right click and "Add files to ..."
3. Select RNDatePicker.xcodeproj from "node_modules/react-native-date-picker/ios"
4. Go to "Targets > Project Name > Linked Framework & Libraries" and select "+"
5. Select "

[2019-03-24 09:10] azhararmar commented on #34
@Blutude datepicker inside the view with alignItems: 'center' indeed work.

[2019-03-30 13:03] henninghall commented on #41
Hi @Humbl-e! This is not possible at the moment! As you say the only way to change the 24h format is changing the locale. But I agree that It would be a good feature!

[2019-03-30 13:04] henninghall commented on #41
Hi @Humbl-e! This is unfortunately not possible at the moment. As you say the only way to change the 24h format is changing the locale. But I agree that It would be a good feature!

[2019-04-07 12:25] MostafaBillett opened #43 "minDate & maxDate not working"
I was trying to limit the picker to display only two days, so i made something like this

[code]

and i also tried to make it with JS Date to be something like this but it didn't work either

[code]

so what I'm doing wrong here?

[2019-04-07 14:39] henninghall commented on #43
Hi! date, minDate and maxDate are supposed to be Date objects. Not strings. Maybe you could use the `.toDate()` from moment.

[2019-04-08 14:21] LuisBonsembiante commented on #37
Any news about that....the library doesnt work

[2019-04-08 14:51] henninghall commented on #37
@LuisBonsembiante I haven't had time to look into this yet. Feel free to fix it yourself, pull requests are welcome 🙂

[2019-04-08 18:15] henninghall commented on #43
To clearify:

Your second attempt returns a unix timestamp and not a Date object. You should be able to do something like this to get a date object:
```new Date((new Date().setHours(0,0,0,0)))```

If you use moment you could use moment's `toDate()`

[2019-04-08 18:15] #43 closed

[2019-04-08 19:38] Adarwall opened #44 "requireNativeComponent: "RNDatePicker" was not found in the UIManger IOS!"
Hi, I'm not using Expo as in previous issues and still have this problem on ios.
I followed the instructions and even tried to link it manually and it didn't work either.
thanks in advance.
<img width="343" alt="Screen Shot 2019-04-08 at 22 36 24" src="https://user-images.githubusercontent.com/42234958/55751730-11428880-5a4f-11e9-88bc-70aa02522cbf.png">

[2019-04-08 19:54] henninghall commented on #44
Hi! Looks like a linking problem. I would try manual linking again with this [manual linking guide](https://facebook.github.io/react-native/docs/linking-libraries-ios) carefully. Remember to rebuild your project afterwards in Xcode or by running `react-native run-ios `again.

[2019-04-08 20:23] Adarwall commented on #44
Oh, I forgot to rebuild... oops.
It works now! thanks! :)

[2019-04-08 20:23] #44 closed

[2019-04-08 20:27] henninghall commented on #44
Great!

[2019-04-09 09:13] MostafaBillett commented on #43
Thank you, it's working fine in android only, in ios it doesn't work, is it because of the `getTime()` that is in the date picker ios

[2019-04-09 15:45] filipef101 opened #45 "[Question] Date format support"
Does this allow to pick day-month-year instead of month-day-year ?
Else where should I look into to add dateFormat param?
Thanks dude

[2019-04-09 16:56] henninghall commented on #45
Yes it does! The locale prop affects the order according to the locale's preference.

[2019-04-09 16:56] #45 closed

[2019-04-10 06:58] tunaSalad2406 commented on #12
still got slowness on android guys

[2019-04-10 15:44] henninghall commented on #12
@tunaSalad2406 could you send your picker code with props included?

[2019-04-10 15:48] tunaSalad2406 commented on #12
it was super slow on device since i set the minimumDate in latest version 2.3.0. i have to degrade to 2.2.1 and it works fine for me now sir thankiu

[2019-04-10 16:34] henninghall commented on #12
Okay thanks, i will have a look at it and see if anything went wrong in 2.3.0. What dates are you setting minimumDate and maximumDate to?

[2019-04-11 04:38] tunaSalad2406 commented on #12
My code:
` <CardItem style={styles.width}>
                <Body style={[styles.justifyContent, styles.alignItems]}>
                  <DatePicker
                    date={this.customerStore.customerDoB}
                    onDateChange={this.customerStore.setCustomerDoB}
                    textColor={'#1E90FF'}
                    mode="date"
                    minimumDate={new Date(1970, 1, 1

[2019-04-14 14:02] henninghall commented on #12
@tunaSalad2406 Thanks! I am trying to find the slowness you are having. Is it the initial load time or changing the date that you find slow?

[2019-04-14 17:35] henninghall commented on #12
@tunaSalad2406 I have made some improvements that I think will resolve your issue. I would really appreciate if you would like to try it out and let me know if it solved your issue 🙂

Do the following to try it out:

1. Change the line in your package.json to:
`"react-native-date-picker": "henninghall/react-native-date-picker#performance" `

3. `npm install` or `yarn`

2. `rm -rf node_modules/reac

[2019-04-14 17:56] henninghall commented on #41
This is fixed in https://github.com/henninghall/react-native-date-picker/commit/d6491b6c47adaa85d2a66f47269bdfbce6598662 and will be available in the next release!

[2019-04-14 17:56] #41 closed

[2019-04-14 18:49] henninghall commented on #37
@LuisBonsembiante @hwde
I have tried but I don't manage to reproduce the crash. Could you send the code of how you are using the component, including the props so I can try the same setup? Also, what version of the lib are you using?

[2019-04-15 04:34] TarunDas284 opened #47 "how to set 24 hour time format? Is this possible?"

[2019-04-15 05:18] henninghall commented on #47
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/41

[2019-04-15 05:18] #47 closed

[2019-04-15 09:40] hwde commented on #37
I use version 2.3.0, this way:

[code]

And my component gets called with some date strings, i.e. "1999-12-24". I tried to debug the issue myself to write a pull request, but I was unable to "break" at a breakpoint inside java code. Will give it another try with a new sample project next days.

[2019-04-15 10:34] hwde commented on #37
Funny, I am now able to "break" my app, the crash happens when "this" is a AmPmWheel, now at line Wheel.java#82:

`if(picker.getValue() == 0) picker.setValue(index);`

picker.getValue() is 0, and "index" is 0 too. But I can't see why picker.setValue(0) crashes. Maybe it is because a "AmPmWheel" is not visible when only "date" selection is done?

[2019-04-15 11:41] henninghall commented on #37
Hmm, you should call the date picker with Date objects, not strings. Try changing it!

Since you are not using maximumDate, the default for date mode is 2100. Try to set `maximumDate` prop to something higher if you expect values above 2100. For instance:
[code]

<br>

If you are running the example app in this repo you need to set the breakpoints in `example/node_modules/react-native-date-picker/

[2019-04-15 11:50] hwde commented on #37
Sorry, my mistake. I don't use strings for the value. I use something like: value={new Date("1999-12-24")}

I tried as you suggested and added the maximumDate={maxDate}, but it still crashes.

[2019-04-15 12:00] hwde commented on #37
btw.: I now tried with:

const maxDate = new Date();
...
<DatePicker
    maximumDate={maxDate}
...

but it renders still with a maximum year of 2100, does maximumDate works with Android?

[2019-04-15 12:30] henninghall commented on #37
Yes maximumDate should be supported on android!
Just to be sure, this code actually gets your app to crash?
[code]
What phone model are you using?
Thanks a lot for your help!

[2019-04-15 14:43] hwde commented on #37
It looks like this is a react-native race-condition ... somehow. I am unable to reproduce it in a sample app. I need some time to look it more deeper. I'll get back asap.

[2019-04-15 15:57] henninghall commented on #37
Thanks a lot! 🙂

[2019-04-15 16:29] tunaSalad2406 commented on #12
sir it has nothing to complain now. many thanks you.

[2019-04-15 17:13] henninghall commented on #12
Great, I will let you know when the fix is released. Thanks for the help!

[2019-04-17 11:59] inoutw commented on #12
Hi Henninghall, when I
1. Change the line in your package.json to:
"react-native-date-picker": "henninghall/react-native-date-picker#performance"
and yarn , it will auto install the lastest version 2.3.0. what should I do?

[2019-04-17 13:36] henninghall commented on #12
@inoutw You probably need to remove the lock file or the part of the file concerning react-native-date-picker

[2019-04-18 01:37] inoutw commented on #12
Yes, Henning, I have removed the lock file and delete all the file in node-modules then yarn for my project, still get the same.

[2019-04-18 05:08] henninghall commented on #12
Since I haven't made a new release of this yet the version will look the same. But yes, it does include 2 more commits as you can see https://github.com/henninghall/react-native-date-picker/commits/performance

[2019-04-24 10:30] Humbl-e commented on #41
Thanks alot!! :)

[2019-04-25 04:21] sthldd opened #49 "i want the picker order year>month>day what should I do"
i want the picker order   year>month>day   what should I do

[2019-04-25 17:45] henninghall commented on #49
Have a look here: https://github.com/henninghall/react-native-date-picker/blob/master/README.md#faq

[2019-04-25 17:45] #49 closed

[2019-04-25 17:52] henninghall commented on #12
Released this fix in v2.4.0

[2019-04-25 17:52] #12 closed

[2019-04-25 17:54] henninghall commented on #37
Since we are not able to reproduce this, I am closing this issue. I'll reopen if anyone finds a way to reproduce this in an example app.

[2019-04-25 17:54] #37 closed

[2019-04-25 17:55] henninghall commented on #41
Released in v2.4.0

[2019-04-26 08:42] PhuongNguyenETIT opened #50 "how to customize width, height?"

[2019-04-26 10:16] henninghall commented on #50
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/34

[2019-04-26 10:16] #50 closed

[2019-04-26 14:58] airman00 commented on #30
On Android in your MainApplication.java, you may need to also add the DatePicker Package
[code]

[2019-04-30 07:31] pacozaa opened #52 "textColor is not available?"
I have been trying to use `textColor` but nothing changes in `IOS` and even crash in `Android`

[2019-04-30 12:35] henninghall commented on #52
What prop value are you using?

[2019-05-06 13:24] saadsaleem187 opened #53 "bundling failed"
I got this below error
"error: bundling failed: Error: While trying to resolve module `react-native-date-picker` from file `/Users/mba/Desktop/office_data/react-native-apps/ExpenseManagementSystem/src/components/screens/AddIncome.js`, the package `/Users/mba/Desktop/office_data/react-native-apps/ExpenseManagementSystem/node_modules/react-native-date-picker/package.json` was successfully found. How

[2019-05-06 17:10] henninghall commented on #52
You are suppose to use a six character long hex code for colors, like #ff00ff. Closing due to inactivity.

[2019-05-06 17:10] #52 closed

[2019-05-07 05:20] emclab opened #54 "2 errors: Can not create subdir and invoke virtual method on null object"
Installed 2.4.0 on react native 0.59.5/react 16.8.3/react navigation 3.9.1 and link successfully. The following error comes up when `react-native run-android`. The same errors happened for subdir `mergeDebugShaders` and `debug-mergeJniLibs`

  WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
  It will be removed at the end of 2018. For more inform

[2019-05-08 04:45] emclab commented on #54
Solved the render error by assigning a value to date in state.

[2019-05-09 21:09] henninghall commented on #54
Glad you solved it!

[2019-05-09 21:09] #54 closed

[2019-05-09 21:12] henninghall commented on #53
If you browse node_modules/react-native-date-picker manually, do you find the index.js?

[2019-05-16 05:21] henninghall commented on #53
Don't manage to reproduce it. Assuming solved due to inactivity. Please let me know if that's not the case.

[2019-05-16 05:21] #53 closed

[2019-05-17 12:56] davidfeldt opened #56 "'props.minimumDate.getTime' is undefined"
I'm using mode = date and am getting the 'props.minimumDate.getTime' is undefined? I'm not using time.

<DatePicker
     date={startDate}
     mode={'date'}
     locale={'us'}
     minimumDate={minDate}
     onDateChange={(startDate) => { this.setState( { startDate, startDateBlurred: true } )}}
 />

[2019-05-17 13:57] henninghall commented on #56
Hi! What value has `minDate`?

[2019-05-17 14:02] davidfeldt commented on #56
minDate = new Date()

________________________________
From: Henning Hall <notifications@github.com>
Sent: Friday, May 17, 2019 9:57 AM
To: henninghall/react-native-date-picker
Cc: David Feldt; Author
Subject: Re: [henninghall/react-native-date-picker] 'props.minimumDate.getTime' is undefined (#56)

Hi! What value has minDate?

—
You are receiving this because you authored the thread.
Reply to thi

[2019-05-20 13:52] BKJang opened #57 "South Korea's preference in date display"
Hello, I'm BKJang of South Korea.

Thanks to your library, I was able to get more productivity on my project.
but, the South Korea preference has not been applied in the date display.
So I needed to make some personal modifications in the process during the project.

I would like to make corrections and contributions in this part of your library. Is it possible?

If you let me, I want to make PR i

[2019-05-20 14:41] henninghall commented on #57
Hi, that sounds great! PR's are very welcome! Please let me know if there is anything I can help you with, if you get stuck or having troubles understanding the codebase.

[2019-05-20 15:05] BKJang commented on #57
Thank you. I will make PR soon. If I need about your codebase I will comment in this issue or on the PR. Please join in the review :)

[2019-05-20 15:47] henninghall commented on #57
Of course! It sounds like it could be related to this PR https://github.com/henninghall/react-native-date-picker/pull/55

[2019-05-21 12:57] BKJang commented on #57
I made PR about this issue. Please check! :) https://github.com/henninghall/react-native-date-picker/pull/58

[2019-05-21 20:54] henninghall commented on #57
Great, PR merged!

[2019-05-21 20:54] #57 closed

[2019-05-24 02:21] craigcosmo opened #59 "invariant violation: require native component"
Just doing the basic sample code on the doc page, I got this error

<img width="150" alt="Screen Shot 2019-05-24 at 9 18 52 AM" src="https://user-images.githubusercontent.com/538657/58298289-2740b880-7e05-11e9-8337-bf779b8c28e3.png">

I'm using react native expo. could it be the reason ?

[2019-05-24 02:27] craigcosmo commented on #59
some people got the s

[2019-05-24 02:27] #59 closed

[2019-05-27 16:00] PhuongNguyenETIT commented on #34
Can change the width, height in Android?

[2019-05-27 16:12] maksim-tolo opened #61 "Android: maximumDate and minimumDate problem"
Hi!

After adding the maximumDate prop, I'm getting the following error on Android:
`mMaxValue - mMinValue + 1 should not be greater than mDisplayedValues.length, now ((mMaxValue - mMinValue + 1) is 1 newDisplayedValues.length is 0, you need to set MaxValue and MinValue before setDisplayedValues(String[])`.
Looks like a problem with native code because adding maximumDate prop on IOS works fine.

T

[2019-05-28 16:01] prigornitskiy opened #63 "only month and year"
Can I hide the days?

[2019-05-28 21:06] henninghall commented on #63
Unfortunately this is not possible and out of scope of this package since the DatePickerIos doesn't have that feature.

[2019-05-28 21:06] #63 closed

[2019-05-30 06:26] craigcosmo opened #64 "if I use this on android only do we need to link?"
Hi,

if I use this on android only do we need to react-native link react-native-date-picker?

[2019-05-30 07:06] henninghall commented on #64
Yes!

[2019-05-30 07:06] #64 closed

[2019-05-31 12:35] fedu44 commented on #34
Henninghall, is there a way I can help you with the development of this datepicker?

[2019-05-31 18:16] henninghall commented on #56
Hi again!

I have tried but I don't manage to reproduce your issue. I would really appreciate if you could help me to sort it out.

1. Could you please confirm that the code below is crashing for you?
2. What version of this package, react-native and android are you using?

[code]

[2019-05-31 18:27] henninghall commented on #61
Hi! I have tried to reproduce this issue but I don't manage to. Would be great if you can supply a full example of how to reproduce the issue. I would like to confirm the bug before merging the PR. Many thanks looking into this!

[2019-05-31 18:45] henninghall commented on #34
@fedu44 Yes PR's are always appreciated! If you would like to work on this feature you might get some help from [this branch](https://github.com/henninghall/react-native-date-picker/tree/custom-width-height ) where I have started the work of customizable width and height.

[2019-06-01 19:29] maksim-tolo commented on #61
Try setting `maximumDate` to a date earlier than the current date.
For example `maximumDate={new Date(Date.now() - 1000000)}`

[2019-06-02 02:00] craigcosmo commented on #64
As all of my code is inside the expo framework, it doesn't do linking

is it possible to extract the adnroid date picker from this project and use it as independent component, without react native linking?

[2019-06-03 20:11] eggybot opened #65 "Issue with AndroidX compatibility"
Hi, I'm using the latest Android SDK as well the new RN0.59.8 , it seems your package is not compatible with this versions.

I'm getting this errors
[code]

thanks,

[2019-06-05 16:39] henninghall commented on #65
@eggybot That's great to hear! Do you mind sharing your solution if anyone else encounters the same thing? 🙂

[2019-06-05 20:47] #61 closed

[2019-06-05 20:48] henninghall commented on #61
Thanks, now I understand the issue and managed to reproduce it!

[2019-06-05 21:31] henninghall commented on #61
Released in version `2.4.2`

[2019-06-09 13:57] henninghall commented on #56
Closing due to inactivity. If anyone finds a way to reproduce this in the latest version I'm happy to reopen.

[2019-06-09 13:57] #56 closed

[2019-06-15 23:17] ilyausorov opened #72 "iOS version isn't showing "Today"?"
First off, this repo is great and much needed to allow us to avoid the annoying modal-based paradigm of the Android date / time pickers that currently exist in React Native. So thanks a ton!

I was able to implement it without any issues, but I did notice that for some reason, the iOS side didn't change the current date to "Today" like it did on the Android side. I believe the DatePickerIOS also d

[2019-06-16 05:40] henninghall commented on #72
Hi, thanks for you comment!

Yes I am aware of this bug and it happens on when you change the text color on ios.

The solution I found for changing the text color of the ios native component "UIDatePicker" had this ugly side effect, but I haven't looked much into if there is a better way.

If you happen to have time to look into this a bit, it would be really helpful! The code that handles this is

[2019-06-17 17:48] ilyausorov commented on #72
hey @henninghall so I took a look and it seems that the whole section from lines 67 to 72 in `ios/RNDatePicker/DatePicker.m` is what is causing the current date to not show as "Today". As you can see, we're literally setting the selector`@setHighlightsToday` to `NO`.

`SEL selector = NSSelectorFromString(@"setHighlightsToday:");
NSInvocation *invocation = [NSInvocation invocationWithMethodSignatur

[2019-06-17 19:43] henninghall commented on #72
That's awesome!

Since I remembered there was something fishy with this I tried to remove those lines myself but get the following result:
<img width="249" alt="Screenshot 2019-06-17 at 20 26 54" src="https://user-images.githubusercontent.com/1652607/59630908-6af5bc00-913e-11e9-86c7-90334d4de93b.png">

Did you have to do anything extra to change the Today text color? If not it might have something

[2019-06-17 23:02] ilyausorov commented on #72
Wow, that's interesting that you see that. I wonder why! I definitely didn't do anything extra beyond modifying that bit of native code.

I tested with the example repo you provided, and the same simulator (iPhone 5s), iOS (12.2) and react-native (0.56.0) versions, and I still got the same result as above: the today was in the same color as the rest of the dates.

I am also using:
[code]

I made t

[2019-06-18 06:03] henninghall commented on #72
Found it! It works fine when you set the text color initially but if you change the prop during runtime you will get my result. It might actually not be that uncommon use case if you for instance have a day and night mode for your app.

That would be awesome if you found a solution to this, it feels like it should be possible! But if not it might also work to make a hacky workaround where the toda

[2019-06-18 08:51] filipef101 commented on #61
@henninghall When passing a maximumDate and minimumDate on Android it takes a lot of time to open the picker

[2019-06-18 10:43] henninghall commented on #61
@filipef101 Which dates are you using? You definitely shouldnt need to use a span of more than a couple of months or so. If that's the case you are probably using the wrong mode or approach to pick a date and will lead to bad user experience. (the user should not need to scroll that much in the picker)

[2019-06-18 11:15] hopewise commented on #65
@eggybot yea, will you please share it? 👁

[2019-06-18 14:38] henninghall commented on #65
@hopewise it looks like @MuhammadUzair might have a solution here:
https://github.com/MuhammadUzair/react-native-date-picker/commit/1dad5464a4d52ef5ddb488637d30e40e01818ee1

Please reply or send a PR if it is working and I will merge it into the library.

[2019-06-18 15:46] ilyausorov commented on #72
Ahh so that's what it is! Do you think that maybe the way setTextColor is implemented it's only called during the initial onLoad method and then not again?

I can play with it, but I don't have too much Obj C experience so not sure how far I'll get. From what I've also read, this approach that we're already using is utilizing private APIs as Apple's official stance is that the UIDatePicker appeara

[2019-06-18 16:25] MuhammadUzair commented on #65
@henninghall , yes it is working in react-native 0.59.9.Not send PR because I don't test this with react-native older versions.

Current solutions (until not fixed in official library ):
1. delete `yarn.lock` and  `package.lock` . (if found in project)
2. add  `"react-native-date-picker": "https://github.com/MuhammadUzair/react-native-date-picker"` in `package.json`

[2019-06-18 20:03] henninghall commented on #65
I am trying to track down the issue. I have tried both react native 0.59.9 and 0.59.8 and **both are working** 😮. So I have not managed to reproduce the issue yet but it seems to be related to grade.

These version declarations (found in app/build.gradle) are the same for both versions that worked:
[code]

There are some differences in gradle versions:

**app/build.gradle:**
v0.59.8: `classpath 'c

[2019-06-19 05:34] henninghall commented on #64
You will always need linking when the component uses native code, which it does, or what do you mean?

[2019-06-19 07:00] hopewise commented on #65
I have:
react-native-date-picke: "https://github.com/MuhammadUzair/react-native-date-picker"
react-native: 0.59.9
I tried to apply settings above for react-native: 0.59.9 but I am still have the same issue:

[code]

[2019-06-19 08:21] hopewise commented on #65
Found the problem!
Here is what I did, I run the rn599 sample and it worked fine then I used my package.json file in problematic project in project rn599, the problem starts to happen when I link the libraries.

After digging, I found that the problem occurs when `react-native-push-notification` is linked into android project! will you please try to add `"react-native-push-notification": "^3.1.2",

[2019-06-19 08:39] henninghall commented on #65
Great found, that makes (kind of) sense. I received a similar error when I tried to link `react-native-device-info`.

What's confusing me a bit is that @MuhammadUzair seems to have solved it by making changes in this packet 🤔

[2019-06-19 09:00] hopewise commented on #65
I have read this https://github.com/zo0r/react-native-push-notification/issues/1091 and then I applied their solution, but I still have the same issue

[2019-06-19 09:59] MuhammadUzair commented on #65
@henninghall ,I changed some code in root project for AndroidX thats why i need changes in this package.I think others not need that changes.In react-native 0.59.9 (fresh project) working fine with react-native-date-picker.

[2019-06-19 10:45] hopewise commented on #65
`react-native-push-notification` causes the issue, what's the recommendation to fix that library while not breaking `react-native-date-picker`?

[2019-06-19 11:35] henninghall commented on #65
If no one else is able to find a solution that works for everyone, I will try to find one as soon as I can, hopefully within a couple of days.

[2019-06-20 23:57] infiniteline opened #73 "Date methods"
Hi.

I'm using the following code to supply the date from RNDP to a function:

`onDateChange={date => this._setTime('awake', date)}`

However, when I try to use a Date method on the supplied argument (as in the following code), it returns '0'.

`const theHour = date.getHours()`

Likewise, there are still problems if I do something like:

`onDateChange={date => this._setTime( 'awake', date.getHours

[2019-06-21 00:05] infiniteline commented on #73
Sorry! It seems that it was reporting the time in GMT and instead of 7 AM local time, it was sending the 0 as I am currently at GMT-7.

[2019-06-21 05:39] #73 closed

[2019-06-24 17:50] henninghall commented on #72
Sorry for the slow answer!

It doesn't seem so to me, at least not in our layer if that's what you mean. `setTextColorProp` in `DatePicker.m` will be called every time the prop changes.

Yes, I am aware of that this is a gray area but I am not sure it actually using "private API:s" which could get your app rejected. I have never heard anyone using this picker having issues with that. I am not sure

[2019-07-03 10:31] raginisahu opened #75 "Android maximumdate"
when I am using maximum date in android so the previous date is not showing.

[2019-07-04 16:24] henninghall commented on #75
Hi! Can you please post a minimal example of how to replicate the issue?

[2019-07-05 05:12] raginisahu commented on #75
when I am using DateTime mode in android so not able to get previous year dates.
eg. only showing 3 Jan to till now date.

[2019-07-05 06:44] bilaluplogic opened #76 "minuteInterval not working"
I have two queries
  1.I am set `minuteInterval={15}` in android but this not working
  2.Can't change border colour.Kindly check the screenshot
![date_border_issue](https://user-images.githubusercontent.com/36961222/60703800-4eb89400-9f20-11e9-8658-49e6e2610e02.png)

[2019-07-05 08:47] henninghall commented on #76
I am pretty sure you have posted the question to the wrong repo. Please double check 😀

[2019-07-05 08:47] #76 closed

[2019-07-08 21:25] henninghall commented on #34
Basic functionality is done but some finishing fixes are needed before release.

[2019-07-08 21:32] henninghall commented on #75
The default minimum date is 6 months before maximum date. You can solve this by setting a minimum date. But you probably don't want that since the user should not need to scroll that much to find the desired date, if they do you are probably using the wrong mode or picker library 🙂

[2019-07-08 21:32] #75 closed

[2019-07-10 06:55] bilaluplogic commented on #65
I have same issue

  public void setTextColor(PickerView view, @Nullable String color) {
                                             ^
  symbol:   class Nullable
  location: class DatePickerManager

@henninghall  any solution for this?

[2019-07-10 07:05] Thanhcao86 commented on #65
you can try: android.support.annotation.Nullable ->import androidx.annotation.Nullable;

[2019-07-10 07:18] bilaluplogic commented on #65
Thanks for your help but I don't know which file need to change?

[2019-07-10 07:21] Thanhcao86 commented on #65
in DatePickerManager
in androidX this lib chang: androidx.annotation.Nullable
You can check it: https://developer.android.com/jetpack/androidx/migrate

[2019-07-10 07:46] bilaluplogic commented on #65
@Thanhcao86 still facing same issue

[2019-07-10 07:49] Thanhcao86 commented on #65
really? it worked for me 💃

[2019-07-10 07:54] Thanhcao86 commented on #65
you can add: implementation 'androidx.appcompat:appcompat:1.0.0'

[2019-07-10 07:56] Thanhcao86 commented on #65
I added it instead of the package "com.android.support:appcompat-v7:${rootProject.ext.supportLibVersion}"

[2019-07-10 07:57] Thanhcao86 commented on #65
Maybe you need add: implementation 'androidx.appcompat:appcompat:1.0.0'
I added it instead of the package "com.android.support:appcompat-v7:${rootProject.ext.supportLibVersion}"

[2019-07-10 07:58] Thanhcao86 commented on #65
Maybe you need add: implementation 'androidx.appcompat:appcompat:1.0.0'
I added it instead of the package "com.android.support:appcompat-v7:${rootProject.ext.supportLibVersion}"

[2019-07-10 07:58] bilaluplogic commented on #65
This code working correctly.

[2019-07-10 08:00] bilaluplogic commented on #65
This is my fault.I only changing android to androidX,forgot to remove **support**.

[2019-07-11 18:36] vvusts opened #81 "Header for picker"
Hi,

Is it possible to set header button confirm/cancel?

[2019-07-11 18:47] henninghall commented on #81
Yes, but you will have to do that with other components like Button or TouchableHighlight.

[2019-07-11 18:47] #81 closed

[2019-07-11 19:03] vvusts commented on #81
@henninghall Thank you for quick response but I am curious about approach.
I don't see properties for this so can you show me some direction how to set header with buttons?

[2019-07-11 19:23] henninghall commented on #81
Sorry but your question doesn't make much sense to me. Could you describe in more detail what you are trying to achieve?

[2019-07-11 19:41] vvusts commented on #81
@henninghall  "cancel" and "done" buttons like on this screenshot.
![DatePicker](https://user-images.githubusercontent.com/25580183/61080070-8645a580-a424-11e9-8ccb-5fe1b972ea3f.png)

[2019-07-11 19:54] henninghall commented on #81
Okay, yes you definitely want to add the buttons outside of the picker component. Use for example Button component https://facebook.github.io/react-native/docs/button.html . Use the onPress callbacks to do what you want.

[2019-07-12 16:52] #72 closed

[2019-07-14 20:58] raymelon commented on #65
You can try this, worked for me.

https://github.com/kmagiera/react-native-gesture-handler/issues/642#issuecomment-509113481

[2019-07-14 21:01] raymelon commented on #65
While waiting for the package update, using jetifier worked for me.

https://github.com/kmagiera/react-native-gesture-handler/issues/642#issuecomment-509113481

[2019-07-16 10:35] mingxin-yang opened #87 "android build fails in windows"
It work well in my macOS, but appear error in Windows. I have android sdk 27 in my computer.
[code]

[2019-07-16 10:41] henninghall commented on #87
Try if any of the solutions in these threads solves your problem:
https://github.com/facebook/react-native/issues/5442
https://stackoverflow.com/questions/41044385/react-native-failed-to-find-target-with-hash-string-android-23-react-native
https://stackoverflow.com/questions/32731858/react-native-target-with-hash-string-android-x-not-found

[2019-07-16 10:41] henninghall commented on #34
Released in v2.5.0

[2019-07-16 10:41] #34 closed

[2019-07-16 10:42] henninghall commented on #72
🚀Released in v2.5.0

[2019-07-16 11:12] mingxin-yang commented on #87
@henninghall It does't work

[2019-07-16 11:17] henninghall commented on #87
Allright, unfortunately I don't have windows access so I can't help you out, but please share your solution here when you find it 🙂

[2019-07-16 12:57] henninghall commented on #65
React Native is now using jetifier by default in the latest release (0.60.3) which will make any version this library compile successfully.

If you of some reason need to stay on RN 0.60.2, 0.60.1, or 0.60.0 you can now install a special AndroidX release of this lib, see [Readme -> Installation](https://github.com/henninghall/react-native-date-picker#installation)

[2019-07-16 12:57] #65 closed

[2019-07-17 19:10] Voidozzer opened #88 "Incorrect date"
Hi there. Below is code sample used to generate DatePicker.

`<DatePicker
        date={new Date('2001-07-06')}
        mode="date"
        locale="us"
        maximumDate={maximumDate}
        minimumDate={minimumDate}
        onDateChange={onDateChange}
   />`

Timezone on phone is set automatically (Cupertino), 24 hours switch is off. Picker shows July 5 2001. When adding `timeZoneOffsetInMinut

[2019-07-18 05:53] TarunDas005 opened #89 "Android: onDateChange won't trigger when I select past 1 hour. but it was working fine if i select past more than 1 hour"

[2019-07-18 12:29] tmmgn opened #90 "After update to rn 0.60.3 app is crashing on android"
When trying to open picker everytime get crash without errors on android. On ios everything just fine. Tried versions 2.5.0 and 2.5.1, crashes still remains

[2019-07-18 12:59] tmmgn commented on #90
in adb LogCat found this when opening datepicker
`07-18 12:57:54.488 32734 32734 E AndroidRuntime: java.lang.NoSuchFieldError: No static field empty1 of type I in class Lcom/henninghall/date_picker/R$id; or its superclasses (declaration of 'com.henninghall.date_picker.R$id' appears in /data/app/com.borealiscustom-sGRu-A_vhj9m65yW1DCfPg==/base.apk!classes2.dex)`

[2019-07-23 20:18] henninghall commented on #90
Hi @tmmgn, thanks for reporting this. I have tried but I don't manage to reproduce the issue. Which android version and phone model are you using?

[2019-07-23 21:05] henninghall commented on #88
Hi @Voidozzer!

I think the problem might be that you initialize date to `new Date("2001-07-06")` which will become UTC time. Try to use set the initial date in the correct timezone, for instance `new Date("06 Jul 2001 00:00:00 GMT-0700")`

`new Date()` will also work if you want the current date.

[2019-07-23 21:05] #88 closed

[2019-07-23 21:08] henninghall commented on #89
Hi @TarunDas005. I don't manage to reproduce this, please provide example code which reproduces the issue.

[2019-07-24 09:00] UnableHead opened #91 "[Android] Date order is wrong according to the locale's preference"
Hello,

I have a problem about the date order on Android. I try on iOS it works fine.

It set the locale props at `fr-FR`, the month name translation is correct, and the order date is `MM-DD-YYYY` but the correct French order should be `DD-MM-YYYY`.

I search in code and I found this in the file `./node_modules/react-native-date-picker/android/src/main/java/com/henninghall/date_picker/WheelOrderUp

[2019-07-24 09:28] Aurintas commented on #89
I can also reproduce this and it happens only on Android.

For me it happens when changing specifically time picker's hour wheel **on first render** (so date is initially provided in code) from 11 AM to 12 PM (am/pm changes automatically) or 1PM to 12 PM.

[2019-07-24 10:48] tmmgn commented on #90
found out problem was because of my styles.xml rewrites your picker styles and thats why i got this error, when changed styles all seems to work great

[2019-07-24 10:48] #90 closed

[2019-07-25 02:53] TarunDas005 commented on #89
@henninghall,
Please check @henninghall comments. I found this in the same scenario

[2019-07-25 03:55] TarunDas005 commented on #89
@henninghall Any update on this issue?

[2019-07-25 12:23] henninghall commented on #89
Thanks guys for further explanation. I will hopefully be able too look into it within a week. Please feel free to send a pull request if you find a solution yourselves!

[2019-07-25 12:27] henninghall commented on #91
Thanks for reporting this! It would be awesome if you could provide a PR with this fix and I will test it out.

[2019-07-25 23:41] jerryheir opened #92 "java.lang.IllegalArgumentException: Unknown timezone: Africa/Lagos"
Hi, I am a React native developer from Lagos, Nigeria in Africa, and I am using react-native-date-picker v2.2.1, RN v0.59.9.
During development, even when I run react-native run-android on a physical device, it runs very well but when I build my app to an APK, and I try to use the app, it crashed.
It doesn't do this on iOS and so I checked logcat and I got the error.
[code]

I think it's an issue

[2019-07-26 08:20] jerryheir commented on #92
In development, it works fine, but when I build APK, and navigate to screen with date picker. The App crashes to that error.
It works well in development and production for iOS

[2019-07-26 08:46] henninghall commented on #92
Hi! I am pretty sure this is an issue with Proguard since it only happens in a released apk and you see that the class/package name has only single letters in the error message. Try ignoring time4j dependency in Proguard!

Also please post your solution here and I will update the docs 🙂

[2019-07-26 08:46] #92 closed

[2019-07-26 15:35] henninghall commented on #89
@TarunDas @Aurintas I am still not able to reproduce it. Please provide a code sample. I have tried the following:
[code]

[2019-07-26 17:53] henninghall commented on #91
@UnableHead I have now verified that this issue exists. I will wait a day or so if you would like to make a PR, otherwise I will just fix it myself 🙂

[2019-07-26 18:23] UnableHead commented on #91
Good.

I can do it this Monday. 😀

[2019-07-26 20:04] henninghall commented on #91
Great!

[2019-07-27 12:21] jerryheir commented on #92
Hi I did what you asked I disabled proguard and used R8 and I still got the same issue. And then I decided to disable all minifiers and it worked well on release. So the problem is with the minifier as a whole. How can I solve this please because it works now but the app is ridiculously larger now

[2019-07-27 12:22] jerryheir commented on #92
And my Java knowledge is lower than that of a beginner

[2019-07-27 12:58] henninghall commented on #92
You denfinately shouldn't need to turn it off completely. Try too exclude the affected files as described here: https://developer.android.com/studio/build/shrink-code#keep-code

R8 uses the proguard config file to exclude files/packets.

[2019-07-27 23:36] jerryheir commented on #92
I created a proguard-rules.pro file in the android folder of react-native-date-picker and used the following

[2019-07-28 04:42] henninghall commented on #92
Thats great!

[2019-07-29 08:13] Aurintas commented on #89
@henninghall set DatePicker to mode="time" and try using this date as initial:

`const initialDate = new Date("Mon Jul 29 2019 12:20:00 GMT+0300 (EEST)");`

In this scenario, changing from 12 PM to 11 AM does not call `onDateChange` callback for me.

[2019-07-29 17:27] henninghall commented on #91
Fixed by https://github.com/henninghall/react-native-date-picker/pull/93

[2019-07-29 17:27] #91 closed

[2019-07-29 17:40] henninghall commented on #89
`const initialDate = new Date("Mon Jul 29 2019 12:20:00 GMT+0300 (EEST)");`

That line will still show different initial hour depending on the time zone you are in. I will appreciate if you can reproduce it by using for example `initialDate.setHours(12)` instead. Or tell me your time zone?

I still don't manage to reproduce it, let me once again ask again for a full sample? It would help a lot. Th

[2019-07-30 06:58] Aurintas commented on #89
`"Europe/Vilnius" timezone, -180 offset`

[2019-07-30 09:59] huuthinh245 opened #94 "I have a question. How to set sound when scroll and select"

[2019-07-30 10:58] henninghall commented on #94
Android or ios?

[2019-07-30 10:59] henninghall commented on #94
Android: there is no sound. Feel free to make a pull request adding sound effects if you like.
Ios: Default ios picker sound. Not changeable.

[2019-07-30 10:59] #94 closed

[2019-07-31 16:08] henninghall commented on #89
@Aurintas Still not getting it. I have sat Europe/Vilnius as my timezone and running following example:

[code]

Could you please confirm that you getting the error with that sample code?

[2019-08-02 11:17] Aurintas commented on #89
Thank you for taking time to look at this.

We've noticed that it depends on device time. Basically, it works incorrectly when you change hours wheel to currently set device time (hour).

So the issue is seen if it's 1 PM (device time), initial date is set to 2 PM and I scroll hours wheel to 1 PM (one step upwards). Same if it's 2 PM, initial date 3 PM and scroll to 2 PM. And so on.

This time iss

[2019-08-04 20:00] henninghall commented on #89
@Aurintas Thanks for helping out investigating this. I now managed to track down the issue, will make a new release with this fix within a couple of days!

[2019-08-04 20:00] #89 closed

[2019-08-05 21:05] henninghall commented on #89
Released in v2.6.1

[2019-08-05 21:05] henninghall commented on #91
Released in `v2.6.1`

[2019-08-11 20:18] felixchan opened #97 "onDateChange returns wrong date before 1580s"
To reproduce, start the initial date at 2019.

Go backwards until you hit *around* 1582, 1581 .
As you go before 1580, the date will continue to become more inaccurate.

Notice that the date returns is incorrect (by ~10 days) around this time.

[code]

[2019-08-11 21:02] henninghall commented on #97
Since you also opened an [issue for DatePickerIOS](https://github.com/facebook/react-native/issues/26023), it seems like this is a bug with the underlying DatePickerIOS, is that correct?

[2019-08-14 09:21] henninghall commented on #97
Seems to be a bug in either [DatePickerIOS](https://facebook.github.io/react-native/docs/datepickerios) or [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker)

[2019-08-14 09:21] #97 closed

[2019-08-15 05:43] henninghall commented on #87
@mingxin-yang Which version of react native and react-native-date-picker do you run? Have you been able to solve it? 🙂

[2019-08-15 05:48] mingxin-yang commented on #87
@henninghall This problem should be the cause of the computer, there is no problem on another computer.

[2019-08-15 05:57] henninghall commented on #87
Allright, closing this issue then.

[2019-08-15 05:57] #87 closed

[2019-08-19 20:16] slauzinho commented on #12
This is still happening on Android `"react-native-date-picker": "^2.6.1"` when I have a `maximumDate` set. Doesn't happen on iOS or when I remove that prop.

[2019-08-19 20:18] slauzinho opened #98 "Very slow on Android"
It seems the issue #12  is back.
This is still happening on Android `"react-native-date-picker": "^2.6.1"` when I have a `maximumDate` set. Doesn't happen on iOS or when I remove that prop.

` "react": "16.5.0"
"react-native": 0.59`

[2019-08-20 04:49] nodahikaru opened #99 "Android error in RN 0.60.4"
In android, I got this error.
![Screenshot_1566276348](https://user-images.githubusercontent.com/15790981/63318367-d3346a00-c348-11e9-9388-8c942e167728.png)

- RN 0.60.4
- react-native-date-picker 2,5.0
- Java 8

[2019-08-20 07:01] henninghall commented on #99
Hi, thanks for reporting this! What is your width value set to?

[2019-08-20 07:02] henninghall commented on #98
Hi, thanks for reporting this. What value is maximumDate set to? Do you keep minimumDate unset?

[2019-08-20 07:20] slauzinho commented on #98
Hey have set `maximumDate`to be 18ys ago and`minimumDate` to be 100ys ago.
I can confirm that this only happens when I have `maximumDate` and `minimumDate` set. If I have one and not the other it works fine

[2019-08-20 09:52] henninghall commented on #98
Which mode are you using, date or datetime?

[2019-08-20 09:55] slauzinho commented on #98
I'm using date, here is the component:

[code]

[2019-08-20 10:26] Benzer1406 opened #100 "TypeError: props.date.getTime is not a function"
I just installed the library and get the error:
![IMG_2089](https://user-images.githubusercontent.com/33852084/63339713-7d919a80-c313-11e9-9d4e-8d05108c9f1a.png)

[2019-08-20 10:37] #100 closed

[2019-08-20 10:39] Benzer1406 commented on #100
I passed in an object that didn't contain a time, it only contained a date.

[2019-08-20 11:06] nodahikaru commented on #99
@henninghall What do you mean by width?
Is there any props to set width in Android?

[2019-08-20 11:52] gavrilin-remote opened #101 "Is there any way to force AM/PM mode for Android?"

[2019-08-20 17:11] henninghall commented on #101
No it's not. It is possible to implement of course, in what situation do you think it would be a good idea? 🙂

[2019-08-20 17:11] #101 closed

[2019-08-20 17:13] henninghall commented on #99
Sorry, I thought you where setting the width and that was causing the issue. Could you provide a full example of how to replicate the issue?

[2019-08-20 17:14] henninghall commented on #98
Thanks, I will look into it!

[2019-08-23 08:23] yernandus commented on #99
Same here, but it says "value for width cannot be cast from string to double"

[2019-08-23 08:24] yernandus commented on #99
![Screen Shot 2019-08-23 at 14 24 02](https://user-images.githubusercontent.com/4067414/63578156-b353af00-c5b1-11e9-9afb-6f6c6899ff43.png)

[2019-08-23 08:25] yernandus commented on #99
"react": "16.8.3",
    "react-native": "0.59.5",
    "react-native-date-picker": "2.6.1",

[2019-08-23 08:48] henninghall commented on #99
@yernandus can you send sample code or prop values of your implementation?

[2019-08-23 08:57] yernandus commented on #99
So the problem was  using '100%' for the width in the style

[2019-08-23 17:41] #98 closed

[2019-08-24 09:03] henninghall commented on #99
Ah, all right. Unfortunately, widths and heights in percentages are not supported at the moment. I have now clarified this through some error messages from v2.7.0.

[2019-08-24 09:03] #99 closed

[2019-08-24 09:03] henninghall commented on #98
Released a fix for this in v2.7.0

[2019-08-27 08:20] mike1023 opened #106 "date format"
how can I show picker just year and month ?

[2019-08-27 14:31] henninghall commented on #106
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/17

[2019-08-27 14:31] #106 closed

[2019-08-27 20:35] henninghall commented on #11
There is now a [feature request you can upvote 👍](https://expo.canny.io/feature-requests/p/support-react-native-date-picker) if you still are interested of using react-native-date-picker with expo!

[2019-08-27 20:35] henninghall commented on #15
There is now a [feature request you can upvote 👍](https://expo.canny.io/feature-requests/p/support-react-native-date-picker) if you still are interested in using react-native-date-picker with expo!

[2019-08-27 20:36] henninghall commented on #16
There is now a [feature request you can upvote 👍](https://expo.canny.io/feature-requests/p/support-react-native-date-picker) if you still are interested in using react-native-date-picker with expo!

[2019-08-27 20:36] henninghall commented on #59
There is now a [feature request you can upvote 👍](https://expo.canny.io/feature-requests/p/support-react-native-date-picker) if you still are interested in using react-native-date-picker with expo!

[2019-08-27 20:37] henninghall commented on #64
There is now a [feature request you can upvote 👍](https://expo.canny.io/feature-requests/p/support-react-native-date-picker) if you still are interested in using react-native-date-picker with expo!

[2019-08-31 13:16] wm20111003 opened #107 "RNDatePicker" was not found in the UIManager."
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: [Android or iOS]
 - React Native version [e.g. 0.60.0]
 - react-native-date-picker version [e.g. 2.5

[2019-08-31 13:17] wm20111003 commented on #107
![image](https://user-images.githubusercontent.com/10558850/64064490-afb8cb80-cc34-11e9-9a99-a410097a5426.png)
react-native: 0.60.0  跑起来报错

[2019-09-01 07:08] wm20111003 commented on #107
I solved it!
In RN 0.60+ need cocopod install;
Podfile config it:

pod 'react-native-date-picker', :path => '../node_modules/react-native-date-picker'

cd ios && pod install

[2019-09-01 07:08] #107 closed

[2019-09-01 12:31] Yasir5247 opened #108 "my app doesn't compile after installing react-native-date-picker"
- Android, IOS
- React: 16.8.6
 - React Native version: 0.60.5
 - react-native-date-picker version:  "^2.5.0"

Error Message:

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html

* What went wrong:
Execution failed for

[2019-09-01 13:07] Yasir5247 commented on #108
SOLVED:

by adding:

android {
  defaultConfig {
    .......
    multiDexEnabled true   <---------This line
  }
  ......
}

[2019-09-01 13:07] #108 closed

[2019-09-01 17:38] VincentCATILLON opened #109 "Feature request: Font size"
Hi,

Is it possible to add `textStyle` prop for the date picker ? to be able to have the same font size than my app :)

Thx for your work 🙏

[2019-09-03 07:46] henninghall commented on #109
Hi, good idea, that would certainly be a good feature!

The problem is that this is not possible to do on iOS since the UIDatePicker doesn't support it. On Android, I think it could be done. The only downside I see is that it would be an android specific feature. Still, I think it would be very appreciated!

Do you think you would be able to make a PR with this feature? 🙂

[2019-09-09 02:52] yernandus opened #110 "How to automatically move to the next year when you are scrolling months?"
Right now I have my minimumDate set to September 9 and when I want to chose January it does not let me do that thinking that it is earlier than minimumDate. Can we automatically move to the next year 2020?

[2019-09-16 15:52] olegmilan opened #111 "Android: onDateChange callback in not being called for `type` time"
**Bug description**
Currently `onDateChange` callback is being called only for `date` and `datetime`.
But for `time` nothing happens and callback not being called

See code:
[code]

**Expected behavior**
`onDateChange` to be called for each mode `time`, `date`, `datetime`

**Android emulator - Nexus_5X_API_28_x86 :**
 - OS: [Android]
 - React Native version [e.g. 0.60.4]
 - react-native-date-picke

[2019-09-17 09:17] henninghall commented on #111
Thanks for reporting this, I will have a look at it!

[2019-09-17 09:18] henninghall commented on #110
Is this feature missing on Android, iOS or both?

[2019-09-18 08:32] olegmilan commented on #111
After investigation, I found that `onDateChange` is not being called when `locale` param is specified when mode: `time`

[2019-09-21 13:46] henninghall commented on #110
I checked it out and since this feature is missing in the iOS datepicker there is unfortunately not much we can do about it. We need to keep the iOS version based on DatePickerIOS and I want to keep the pickers as similar as possible so to only implement it in android would not make sense.

[2019-09-21 13:46] #110 closed

[2019-09-21 13:48] henninghall commented on #109
Changed my opinion about this, since Apple has chosen to limit the ability to change size (probably to prevent bad UX) I don't think we should do it on Android either. I also want to keep the features the same on both platforms.

[2019-09-21 13:48] #109 closed

[2019-09-25 05:18] cspicuzza opened #112 "Warning: DatePickerIOS has been merged with DatePickerAndroid and will be removed in a future release."
**Describe the bug**
The following warning shows in the console:
```Warning: DatePickerIOS has been merged with DatePickerAndroid and will be removed in a future release. It can now be installed and imported from '@react-native-community/datetimepicker' instead of 'react-native'```

**To Reproduce**

[code]

**Smartphone (please complete the following information):**
 - OS: ios
 - React Native ver

[2019-09-26 17:52] vvusts opened #113 "IOS 13 current date not there/visible - urgent help please"
**Describe the bug**
NOW I saw it is only when ios13 dark mode is set!

Current date is not visible - or it is white not sure on IOS 13 the same code was working fine on IOS 12.
On image you can see it's only current date I moved year down and even not in focus it's still white/not there.
![unnamed](https://user-images.githubusercontent.com/25580183/65712273-ee586f00-e096-11e9-9237-faf2774bab5e.jp

[2019-09-26 20:00] henninghall commented on #113
Hi, thanks for reporting this. You can always remove the textcolor prop to get the default colors, it will solve it before we fix this properly. PR's are always welcome!

[2019-09-27 23:27] felixchan commented on #113
+1 I don't have any style or textColor props. Still not visible. @henninghall

[2019-10-02 05:53] samslow commented on #113
+ 1 this is only can't see on dark mode on iOS

[2019-10-03 12:21] Humbl-e commented on #111
I have the same issue. I did some digging but when mode is time and locale is anything other than "en" or "en_US" , the ONCHANGE listener throws an exception where the dateformat can not be parsed, hence there is no date returned onDateChange.
hope it helps.

[2019-10-03 20:58] henninghall commented on #113
The issue seems to exist in DatePickerIOS which this picker is based on. Does anyone have the possibility to test this solution? https://github.com/facebook/react-native/issues/26299

[2019-10-05 13:10] samslow commented on #113
![image](https://user-images.githubusercontent.com/26738367/66255223-3163c200-e7bc-11e9-808c-9a67732382bb.png)
( above testing image is DarkMode )
i'm testing on new RN project, and result is excellent according to [facebook/react-native#26299](https://github.com/facebook/react-native/issues/26299)

But, i don't know how to add below solution code inner `react-native-date-picker`
[code]

![image](

[2019-10-08 07:38] abakhtiar commented on #113
This is what worked for me:
I added this code in the AppDelegate.m of the **PROJECT**  before return YES; (for me was in didFinishLaunchingWithOptions block!).

[code]
Then I needed to rebuild the project (cmd+R)
Try to add it in the AppDelegate.m of the project not in the node-module. I think keyboard behaviour is affecting from app wide setting so this configuration will cannot override the main

[2019-10-08 08:49] samslow commented on #113
What keyboard behaviour ?

Do you mean that this is a problem that cannot be solved at the library level?

[2019-10-08 09:11] abakhtiar commented on #113
by behaviour I mean colour..
As I mentioned, this is my assumption so I'm not sure if it can be done also in lib level.
Please let me know if you could set it up in lib.
Thanks!

[2019-10-11 13:00] hiren0412 commented on #113
I tried this code in appDelegate.m file, but still Date is not visible in IOS 13 in Dark mode. AnyOne having solution. plzzz post here

[2019-10-11 14:22] samslow commented on #113
@hiren0412 please show me your code ? this solution is work for me on iOS13

[2019-10-11 15:48] abakhtiar commented on #113
@hiren0412 please try this also:
` if (@available(iOS 13, *)) {
      self.window.overrideUserInterfaceStyle = UIUserInterfaceStyleLight;
  }`
just before `return YES;` in appDelegate.m
let me know.

[2019-10-12 19:21] martianatwork opened #115 "Is there any way to disable the cylinder animation?"
Basically I want to remove the animations and have a basic scroller.

[2019-10-12 19:35] martianatwork commented on #115
Okay, I found it. It's the npv_TextSizeSelected value in layout, hopefully I will create a PR to fix this from react-native

[2019-10-12 20:21] henninghall commented on #115
Sure, to have the possibility to remove the animation via an optional property would work. I will definitely look at your PR when you have one ready!

[2019-10-12 20:21] #115 closed

[2019-10-12 21:57] martianatwork commented on #115
@henninghall Hey, I just checked the source code and the `NumberPickerView` doesn't contain any public API for the `DEFAULT_TEXT_SIZE_NORMAL_SP & DEFAULT_TEXT_SIZE_SELECTED_SP`  Which are being used in our case.

I'm not an experienced android dev so if you can guide me then I will get it done.

[2019-10-16 18:35] grifotv opened #116 "Prop `fadeToColor` doesn't accepts rgba color"
**Describe the bug**
Prop `fadeToColor` doesn't accepts rgba color.

**Expected behavior**
Ideally it should accept any valid color, such as `rgba`.

**To Reproduce**
[code]

**Smartphone (please complete the following information):**
 - OS: Android
 - React Native version `0.59.10`
 - react-native-date-picker version `2.7.0`

[2019-10-17 03:21] Theng commented on #113
For me I don't need anything to do with dark mode so I set this in info.plist

[code]

[2019-10-22 02:05] ptboyer opened #119 "Setting textColor with mode prop set as date/datetime breaks to default text color"
**the bug**
Setting `textColor` with `mode` prop set to `"date"` or `"datetime"` will incorrectly display "TODAY" as the default black color for light/white backgrounds, ignoring the `textColor`.

| props.mode   | props.textColor | Result                                                       |
| ------------ | --------------- | ------------------------------------------------------------ |
| not s

[2019-10-22 02:30] ptboyer commented on #119
Fixed it, made a pull request with change, as suggested by [link](https://stackoverflow.com/questions/20875054/change-uidatepicker-font-color#comment65147552_31775498).

[2019-10-22 15:46] TomFrames opened #121 "Locale month names (lowercase)"
For languages other than english the months in the date-selector all start with a lower case letter. Is this something that can be changed by formatting the component?

[2019-10-23 03:29] ptboyer commented on #113
Suppose that #119 has some relation?

[2019-10-25 08:14] k3ithl1m opened #123 "Hide invalid dates instead of disabling them"
First off, great job with this component.

Is it possible to make it so that instead of setting minimum date will not allow user to go back further from the minimum date. Could we just remove all the date before it instead?

[2019-10-27 21:13] lgalant opened #124 "Need to select time with 1 hour interval"
I've noticed minuteInterval cannot go over 30, but I need to show 60 mins interval
Is there a way to show the Datepicker with the ability to select only date and hour , with no minutes?

[2019-10-29 10:04] fmchan commented on #113
anyone can provide solution for Expo which cannot modify the .h file or plist. thank you

[2019-10-30 01:07] ptboyer commented on #112
Created a PR for this issue. :)

[2019-10-30 18:20] akondo06 opened #125 "[REQUEST] Month Day Names"
Hey,
Would it be possible to show the day names on the `date` mode?
Basically the `datetime` mode without the time part.

[2019-10-30 19:44] henninghall commented on #124
Unfortunately, this is not possible due to the limitation in the ios native component UIDatePicker

[2019-10-30 19:44] #124 closed

[2019-10-30 19:44] henninghall commented on #125
Unfortunately, this is not possible due to the limitation in the ios native component UIDatePicker

[2019-10-30 19:44] #125 closed

[2019-11-03 05:35] club9822 commented on #47
just do this in `con.henninghall.date_picker.wheels.Setting.java`

public class Settings {
    public static boolean usesAmPm (){
        return false;
        // return !DateFormat.is24HourFormat(DatePickerManager.context);
    }
}

[2019-11-03 09:17] henninghall commented on #47
@club9822 That would only work on Android though.

[2019-11-07 12:18] mikemalpass commented on #113
I got this to work limiting the UIUserInterfaceStyleLight to just the ViewController with datapicker:

#define SYSTEM_VERSION_GREATER_THAN_OR_EQUAL_TO(v)  ([[[UIDevice currentDevice] systemVersion] compare:v options:NSNumericSearch] != NSOrderedAscending)

if (SYSTEM_VERSION_GREATER_THAN_OR_EQUAL_TO(@"13.0")) { self.datePicker.overrideUserInterfaceStyle = UIUserInterfaceStyleLight;
}

Credit for M

[2019-11-08 06:47] Xiapeixu opened #126 "Error on android"
In android, I got this error.
![lADPDgQ9rM0sENLNBP7NAmY_614_1278](https://user-images.githubusercontent.com/42401979/68455405-478af500-0236-11ea-8186-5d315ca4e6ce.jpg)

		"react": "16.8.6",
		"react-native": "0.59.10",
		"react-native-date-picker": "2.0.3"

[2019-11-08 07:13] #126 closed

[2019-11-13 03:34] pacozaa commented on #52
Thank you. Just read this answer. It works.

[2019-11-15 17:03] truongnc0811 opened #127 "title for space between HH:mm"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: [Android or iOS]
 - React Native version [e.g. 0.59.4]
 - react-native-date-picker version [e.g. 2.5

[2019-11-15 17:04] #127 closed

[2019-11-15 17:04] truongnc0811 commented on #127
sorrry!!

[2019-11-19 16:02] kimivn opened #128 "shadow top and bottom datepicker in android"
Hi all, i have an issue as image below in android app. I want remove shadow top and bottom datepicker. Have any solution for this one ? Thanks all.
<img width="419" alt="Screen Shot 2019-11-19 at 10 58 37 PM" src="https://user-images.githubusercontent.com/14310335/69163150-4c965100-0b20-11ea-84b7-2a385d440713.png">

[2019-11-25 09:22] lukebars opened #129 "[android] custom height breaks picker's infinite scroll"
**Describe the bug**
When custom height is set on the DatePicker, iOS works fine, but android breaks the infinite scroll feature (see attached image below)

**Expected behavior**
Same scrolling as without custom height.

**To Reproduce**

Just add the style={{height: 500}} and watch. Sometimes you need to refresh or reinstall / rebuild the app.
[code]

**Smartphone (please complete the following i

[2019-11-25 09:27] lukebars commented on #129
@henninghall maybe you are aware of this problem since you introduced height customisation?

[2019-11-26 06:51] henninghall commented on #129
Hi thanks for reporting this, I was not aware of it!

[2019-11-26 06:55] henninghall commented on #128
Unfortunately background with patterns are not supported on Android yet. You could set fadeToColor prop to "#000000“ to make it look a bit better but will probably not look perfect on you background. What you can do is modify the source code and remove the shadows in a fork/patch.

[2019-11-26 17:45] lgalant commented on #111
Found the same issue with my Samsung s9. However it works fine on my emulator (Nexus 5X 28)

[2019-11-27 08:33] richardtks opened #130 "[Android] Allow setting the 24 hour format instead follow user locale"
I am really grateful this date picker has the consistent UI and behavior across the ios and android platform and this is what I need for my project. Really appreciate the effort and hard work of doing this. 😄

Understand that for the android platform, the 24 format is following the user locale setting set in the phone. Is it possible to override user locale setting by adding a prop called `is24For

[2019-11-27 09:39] henninghall commented on #130
Hi, glad you like it! I have got this question before but I don't really understand the use case of it. Shouldn't we let the user decide how they want to see their dates? 🤔

[2019-11-27 10:10] richardtks commented on #130
@henninghall, thank you for the fast response. 😄  I understand your point, for my case, it just simply request from our client to use the 24 hours regardless of user locale.

However, there is one possible use case I can think of is that if the app itself allow the user to set the time format for that particular app without affecting the system locale setting, with `is24Format` props we can actual

[2019-11-28 08:27] rotobogdan opened #131 "Warning: componentWillReceiveProps has been renamed"
Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedStateFromProps. Learn more at: https://fb.me/react

[2019-11-28 08:36] #131 closed

[2019-11-28 16:51] henninghall commented on #130
Yeah I guess that would be a valid reason, if you cannot convince a client that it is a bad idea 😉Just remembered the biggest problem with this, the UIDatePicker from IOS does not support setting the 24h value from anything else than the locale. And I would not like to add an android specific prop for this, it would be confusing.

What I might consider is adding a prop for letting the locale decid

[2019-11-29 03:46] richardtks commented on #130
@henninghall, thank you for your understanding. Yeah, I aware that UIDatePicker from IOS does not support setting the 24h, for now, I would just `fr` locale which use 24h.

`useLocaleToDecide24format` only change the 24h based on locale? Wouldn't it better if user set the `locale` props, then we use exactly the prop being set for android? (p/s: ios already support this prop)

[2019-12-02 09:55] sagarrs commented on #129
same issue, any solution ?

[2019-12-03 10:15] henninghall commented on #130
Yeah that was how it actually worked before on Android. I still think it is a better to listen to the users 24h preference in settings. I just saw that iOS app "Reminders" actually changes the picker 24h preference depending on that setting, not on the locale 😮So it seems to be possible in some way. I that case we could add a "override-24-h-setting" prop that works on both platforms. I will look i

[2019-12-03 10:16] henninghall commented on #129
A workaround until this is fixed would be to make the containing div smaller.

[2019-12-05 18:19] r4mdat commented on #119
Also ran into this issue, PR works like a charm. Would be great to get it merged. Great library.

[2019-12-06 12:58] tzwickl commented on #111
I found the same issue when setting a locale. Anybody here who can fix this?

[2019-12-06 13:28] henninghall commented on #111
@tzwickl I don't have had any time to look into this, sorry! I will have a look at this and the other issues after new years. In the meantime, you can try to see if locale `en`, `en_US` or another locale will give you a result that works for you.

[2019-12-06 13:47] olegmilan commented on #111
Hey @tzwickl @lgalant @Humbl-e I managed to fix this by forking this repo and adding early `return false` to the function `usesAmPm` in `/node_modules/react-native-date-picker/android/src/main/java/com/henninghall/date_picker/Settings.java`:

[code]

It is not ideal, but we like this library and it's performance, so we decided to go with this hack

[2019-12-11 12:08] ryanbourneuk commented on #113
I've also got this to work, by changing:

    - (UIView *)view
    {
        return [DatePicker new];
    }

in `RNDatePickerManager.m` to:

    - (UIView *)view
    {
        DatePicker *datePicker = [DatePicker new];

        if(@available(iOS 13, *)) {
            datePicker.overrideUserInterfaceStyle = UIUserInterfaceStyleLight;
        }

        return datePicker;
    }

For a quick fix (acc

[2019-12-13 00:38] ptboyer commented on #113
@henninghall How are we looking with cutting a release for this issue soon? :)

[2019-12-13 04:32] cspicuzza commented on #119
@ptboyer thanks for those prs!   @henninghall Can we get those merged?

[2019-12-16 16:57] FedericoNavarro commented on #130
Hello! I also need this functionality, since in my design, I have two of this Time Pickers at one each other side, and on 12hs it is to big. I also tried by reducing the font size, but it doesn't seems to work. Any idea? Thanks!

[2019-12-19 01:09] dansiemens opened #132 "[iOS] Minute interval doesn't work with mode 'time'"
**Describe the bug**
When the `mode` is set to `'time'`, the `minuteInterval` prop has no effect (iOS only). Notably, it works when mode is `'datetime'`.

**Expected behavior**
Minute interval prop should work on iOS when mode is `time`

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: iOS 12.1
 - React Nativ

[2019-12-20 15:25] jiangchunyun opened #134 "how to set show years when modle is datatime."
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: [Android or iOS]
 - React Native version [e.g. 0.59.4]
 - react-native-date-picker version [e.g. 2.5

[2019-12-26 08:36] #112 closed

[2019-12-26 09:41] henninghall commented on #134
It is not possible. It would not fit on the screen so you will need to find another way to display this in your UI.

[2019-12-26 09:41] #134 closed

[2019-12-27 08:42] sagarrs opened #137 "[Android] mode = {"time"} not working in Android"
In date picker **mode = {"time"}** is not working in Android, but works fine in IOS

**Expected behavior**
A clear and concise description of what you expected to happen.
the time mode should be working in Android

**To Reproduce**

    export default class App extends Component {

      state = { date: new Date() }

      render = () =>
        <DatePicker
          mode={'time'}
          date={

[2019-12-27 17:44] henninghall opened #143 "Support fading towards backgrounds with patterns"
At the moment, it is not possible to make the android picker fade towards a background with a pattern, only solid colors are working. One solution to this is posted [here](https://stackoverflow.com/questions/50556388/how-to-make-a-transparent-alpha-gradient-mask-to-make-one-layer-fade-into-tran ).

When this is fixed, the fadeToColor prop could be removed.

A workaround could be to add a prop to r

[2019-12-27 17:45] henninghall commented on #128
This issue https://github.com/henninghall/react-native-date-picker/issues/143 covers this problem.

[2019-12-27 17:45] #128 closed

[2019-12-27 17:48] henninghall commented on #137
@sagarrs What exactly isn't working for you? Could you add a screenshot of the problem?

[2019-12-27 22:09] henninghall opened #145 "Scrollable white spaces between wheels"
Make it possible to scroll on the white spaces between the wheels (hit slop) (android).

[2019-12-27 22:33] henninghall commented on #132
Hi, thanks for reporting this. I have tried but I don't manage to reproduce it. Could you please double-check that you actually are running the exact code above? Which iPhone model are you using?

My result with your code sample and software versions.

<img width="342" alt="Screenshot 2019-12-27 at 23 28 21" src="https://user-images.githubusercontent.com/1652607/71534688-b7e1f880-2900-11ea-9d30-36

[2019-12-28 08:36] sagarrs commented on #137
![ios-android](https://user-images.githubusercontent.com/17675875/71541181-12b83600-297b-11ea-820e-06d2dffbf3d7.jpg)

@henninghall here is a screenshot side by side

    state = { date: new Date() }
    render(){
        return(
            <View style={{flex: 1, justifyContent: 'center', alignItems: 'center'}}>
                <View style={{flexDirection: 'row'}}>
                    <View>

[2019-12-28 11:06] henninghall commented on #137
Thanks! I don't manage to reproduce it. Which version of `react-native-date-picker` are you using? Version 1.7.2 that you mentioned never existed.

[2019-12-28 11:17] sagarrs commented on #137
hi @henninghall i am sorry its "@henninghall/react-native-date-picker": "^1.0.2"

[2019-12-28 11:26] henninghall commented on #137
Can you try the latest version (2.7.1)?

[2019-12-30 23:37] Spacarar opened #146 "Invalid argument supplied to oneOf, expected an array."
**Describe the bug**
Console warning when importing this plugin. I don't remember seeing this before the recent update (to suppress "DatePickerIOS has been merged with DatePickerAndroid") but may have been present in prior releases.

**Expected behavior**
no warnings/errors on startup

**To Reproduce**
I'm seeing this error regardless of whether I actually render a date-picker. it appears to be sh

[2019-12-30 23:40] Spacarar commented on #146
Looking back in the releases this does appear to be caused by the latest release only.

specifically this commit changes `minuteInterval` from `1` to `1 | 2 | 3 | 4 | 5 | 6 | 10 | 12 | 15 | 20 | 30` which seems like it should be changed to `[1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30]`

https://github.com/henninghall/react-native-date-picker/pull/138/commits/2d8deb21377fa66c9a5542cf074ae2fc32f9782f

[2019-12-31 13:00] henninghall commented on #146
Thanks for reporting this! Do you mind creating a PR? 🙂

[2020-01-01 11:28] #146 closed

[2020-01-01 16:52] #113 closed

[2020-01-01 16:52] #119 closed

[2020-01-01 17:09] henninghall commented on #113
Released a fix for this in `2.7.3`

[2020-01-01 17:09] henninghall commented on #119
Released a fix for this in `2.7.3`

[2020-01-03 06:18] JayKurniawan opened #149 "change month name to number"
is it possible to change the **month name** to **number** in the selection?

[2020-01-03 09:01] yilakt commented on #107
So after doing this, my build fails. Any suggestions?

[2020-01-03 19:56] henninghall commented on #149
Unfortunately not, and it will not be possible due to limitation in the iOS UIDatePicker.

[2020-01-03 19:56] #149 closed

[2020-01-04 09:10] JeffGuKang opened #150 "Year/month/day has incorrect order for some locales"
Thank you for the good open source library. There is some issue I am getting.

**Describe the bug**
Cannot order to Year>Month>Day in Android through locale, even iOS works well.
And `년, 일` text is not shown.

**Expected behavior**
`locale="ko"` have to order as Year-Month-Day

iOS(working as expected)
![image](https://user-images.githubusercontent.com/216363/71763250-1882be00-2f1d-11ea-9012-a232b

[2020-01-04 09:30] JeffGuKang commented on #150
I used temporary way to solve this.

`WheelOrderUpdater.java`

[code]

[2020-01-08 12:15] sailywebvillee opened #151 "Invariant Violation: View config not found for name DatePickerManager"
Hello @henninghall ,

**Describe the bug**
A clear and concise description of what the bug is.  -
I am getting the error when  i am trying to use this library  -
Invariant Violation: View config not found for name DatePickerManager  -
As I am using the same basic function of the library. Please check the error message in screenshot

**Expected behavior**
A clear and concise description of what you

[2020-01-08 12:37] janwasgint commented on #111
@henninghall I also encountered this issue when setting the locale on Android to arabic and mode to `datetime`. It would be really great to have that work. What's the current state on it?

[2020-01-08 20:23] henninghall commented on #151
Looks like the library is not linked correctly. Try running `react-native link react-native-date-picker` or link the files manually.

Or are you running expo? It does not support this library yet.

[2020-01-08 20:26] henninghall commented on #111
@janwasgint It definitely has high priority and I will hopefully have the time to fix it soon!

[2020-01-09 06:38] sailywebvillee commented on #151
Thanks @henninghall & yes I again tried to link the library it is working fine now

[2020-01-09 06:38] #151 closed

[2020-01-10 22:10] dansiemens opened #152 "[iOS] v2.7.3 breaks build on iOS 12.1"
**Describe the bug**
App build fails with react-native-date-picker@2.7.3 installed running on iOS 12.1 simulator. Downgrading to 2.7.2 resolves this issue.

Errors given:
[code]

**Expected behavior**
App build should succeed

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: [iOS]
 - React Native version: [0.

[2020-01-11 09:13] henninghall commented on #152
Hi, thanks for reporting this!  I am not able to create an iOS 12 simulator at the moment but I manage to run the app on a physical device with iOS 12.4. I suspect it has to do with the Xcode version, which version do you have?

[2020-01-11 09:15] henninghall commented on #150
Hi, thanks for reporting this! It is definitely a bug that seems to occurs for some languages, for instance Korean. I will look into this.

If you only need to support one language your solution will be fine.

[2020-01-14 12:43] matt-dalton commented on #152
Same issue here. Perhaps to recreate the issue you need to clear node_modules first?

Also works if I downgrade. I'm using xcode 10.3. My simulator is running iOS 12.4.

[2020-01-14 12:47] xhirazi commented on #132
+1

[2020-01-14 13:39] henninghall commented on #152
I realize that that bugfixes related to iOS 13 released in version 2.7.3 will require the use of Xcode 11. Unfortunately, I don't see any way around that except upgrading Xcode or downgrading the library to 2.7.2. I would recommend upgrading Xcode (might require OS upgrade) if you want to be able to support iOS 13 features like dark mode or "Sign in with Apple".

I will update the docs with this i

[2020-01-14 17:38] dansiemens commented on #152
Thanks @henninghall for following up. Running Xcode 10.1 so will remain on 2.7.2 for the time being. Cheers.

[2020-01-14 17:42] #152 closed

[2020-01-14 17:44] henninghall commented on #132
Bump @dansiemens 🙂Did you have any additional information?

[2020-01-14 17:47] dansiemens commented on #132
@henninghall Tried to reproduce after upgrading to 2.7.2 and i can no longer reproduce the issue. Found the issue only on 2.7.0, running Xcode 10.1, reproduced in 12.1 simulator and on iPhone 6 and iPhone X both running 12.x.

[2020-01-14 17:53] henninghall commented on #132
Thanks a lot!
@xhirazi Could you try upgrading to version 2.7.2 or above and see if that helps?

[2020-01-15 11:29] ezranbayantemur commented on #137
It's still occurring. My code is
[code]
It's not logging on console when change time. Looks like onDateChange method is not triggered on Android with "time" mode.

[2020-01-15 11:33] ezranbayantemur commented on #111
Same issue +1

[2020-01-16 09:47] henninghall commented on #112
Released in 2.7.1 (recommend you to install latest version 2.7.3)

[2020-01-16 12:08] vinuhub commented on #128
@henninghall Thanks, it's work for me.

[2020-01-16 16:36] henninghall commented on #107
@yilakt what error message do you get?

[2020-01-16 21:48] yilakt commented on #107
It was telling me module wasn't found. I think it was an issue more with my config than the repo. But I ended up going with  "@react-native-community/datetimepicker": "^2.1.0"  / RNDateTimePicker for the time being.

[2020-01-20 05:25] Biplovkumar commented on #113
@henninghall
![Screenshot 2020-01-20 at 10 55 28 AM](https://user-images.githubusercontent.com/30401136/72700887-56b1eb80-3b73-11ea-9de8-8b47c0650a0d.png)

Not available this version.

[2020-01-20 06:35] henninghall commented on #113
This is "react-native-date-picker" library, not "react-native-datepicker" 😅

[2020-01-20 12:04] henninghall commented on #132
Found a way to reproduce this, and have a fix ready. Will merge https://github.com/henninghall/react-native-date-picker/issues/137 and release a new version shortly.

[2020-01-22 18:54] #132 closed

[2020-01-22 18:54] #137 closed

[2020-01-22 19:12] olegmilan commented on #130
@FedericoNavarro you can try this solution as a temp workaround
https://github.com/henninghall/react-native-date-picker/issues/111#issuecomment-562577758

[2020-01-23 20:22] henninghall commented on #132
Released in v2.7.4

[2020-01-23 20:23] henninghall commented on #111
Released in v2.7.4

[2020-01-23 21:21] grifotv opened #157 "Android always displays 12h format even when changing device settings to use 24h format"
**Describe the bug**
The 24h format device preference in Android is correctly taken into account as it affects the AM/PM wheel visibility. However, the hour wheel **always** shows 12 hours now in the latest release (`2.7.4`).

In version `2.7.3` it behaves correctly, so it looks like it's a regression bug introduced by these changed #156.

![24h-bug](https://user-images.githubusercontent.com/43535

[2020-01-23 22:24] henninghall commented on #157
Thanks a lot for reporting this. Reverted that commit and released 2.7.5.

[2020-01-23 22:24] #157 closed

[2020-01-24 10:01] grifotv commented on #130
I believe a prop `is24Hour` would be extremely helpful even if it's for Android only, like this one:
- https://github.com/react-native-community/react-native-datetimepicker#is24hour-optional-android-only

For instance, my use case would be a parking app, where users have the ability to set either:
1. End parking date and time, `mode="datetime"`
2. Or duration of parking, `mode="time"` // but this

[2020-01-28 14:53] Miteshdv opened #158 "Need to Highlight or Mark specific date"
*New Requirement**
Need to Highlight or Mark specific date

Add example code
[code]

**Smartphone (please complete the following information):**
 - OS: [Android or iOS]
 - React Native version [e.g. 0.59.4]
 - react-native-date-picker version [e.g. 2.5.1]

[2020-01-28 16:58] henninghall commented on #158
Since this feature does not exist in UIDatePicker it is unfortunately out of scope for this component.

[2020-01-28 16:58] #158 closed

[2020-01-28 17:59] henninghall commented on #121
Hi! Unfortunately this is how the iOS UIDatePicker is implemented and there is no API to change that 😔

[2020-01-28 17:59] #121 closed

[2020-02-05 15:46] henninghall commented on #150
Fixed and released in v2.7.6

[2020-02-05 15:46] #150 closed

[2020-02-05 15:46] henninghall commented on #111
Fixed and released in v2.7.6

[2020-02-05 15:46] #111 closed

[2020-02-07 07:36] billel-boudchicha opened #161 "Strange behavior on android"
Hi and thank you for taking the time to build this component it's exactly what we want for our app.
Anyway we found a strange behavior on Android(only) where using the DatePicker in `mode="time` and also setting `locale="fr"` for(24 format) . The **onDateChange** not triggering.

So as per [Documentation](https://github.com/henninghall/react-native-date-picker#how-do-i-change-the-1224h-or-ampm-for

[2020-02-07 08:00] henninghall commented on #161
Hi, which version of the app are you using?

[2020-02-07 17:32] billel-boudchicha commented on #161
Hi @henninghall thank you for your response , we were using `2.7.5`, and upgrading to `2.7.6`, fix the problem. (sorry for this)
So if i understand well in Android the Picker always follows the phone's locales, even if you explicitly change it ?.
Anyway thank you for your time.
closing it

[2020-02-07 17:32] #161 closed

[2020-02-07 19:26] henninghall commented on #161
Great! Hmm no it should only use the phone default if you don't specify it, did you see another behavior?

[2020-02-18 13:01] Stanley521 opened #163 "Invalid date when scrolling"
![WhatsApp Image 2020-02-18 at 19 57 37](https://user-images.githubusercontent.com/36833134/74738306-3320b480-5289-11ea-917d-8dadc5e167ba.jpeg)
`<DatePicker
                            mode={'date'}
                            locale={'en-GB'}
                            maximumDate={ new Date() }
                            date={ datePickerValue}
                            onDateChange={date =>

[2020-02-18 20:13] viniciuscasarin opened #164 "Wrong day description in pt-BR"
The string that represents the day is wrong, it has an wrong extra word.
Ex.: "qui 12 de mar de" should be "qui 12 de mar" without the last "de"

My component is like this:
`                                <DatePicker
                                    date={this.state.date}
                                    onDateChange={date => this.setState({date})}
                                    locale

[2020-02-18 20:14] viniciuscasarin commented on #164
![image](https://user-images.githubusercontent.com/24192460/74774170-fb5a4280-5271-11ea-8a23-463028254d71.png)
i forgot to upload the print, hehe

[2020-02-18 20:49] henninghall commented on #163
Hi, thanks for reporting this. If you update the state properly in onDateChange this should not be possible. Like this:

[code]

Does it help?

[2020-02-18 20:52] henninghall commented on #164
Hi! Thanks for reporting this, I will have a look at it! 🔎

[2020-02-19 00:24] sindu12jun opened #165 "Android app crash when open the datepicker"
**Describe the bug**
When open the screen contains the date picker in App in Android, the app will instantly crash and exit

**Expected behavior**
The app should display the date picker without crashing

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: Android
 - React Native version :0.61.5
 - react-native-d

[2020-02-19 06:36] henninghall commented on #165
Hi! Does it only happen in production when you're using proguard? In that case see https://github.com/henninghall/react-native-date-picker/blob/master/README.md#why-does-the-android-app-crash-in-production

[2020-02-19 06:43] henninghall commented on #165
In other cases, could you provide an example where the values of the variables are visible?

[2020-02-19 10:06] DhanAzam93 commented on #100
did you solve it ?

[2020-02-19 12:13] #164 closed

[2020-02-19 17:16] cjmarecek commented on #107
I have the same error but I'm running ubuntu 18.04, I can not just install cocoapods. or can I?

[2020-02-19 23:15] sindu12jun commented on #165
Hi, sorry about that, here's the simpler one case which will also crash:

`
      <ReactDatePicker
        mode={'date'}
        date={new Date()}
        onDateChange={(date) => {
          console.log(date);
        }}/>

`
And, I am running in develop mode, also tried the suggestion in https://github.com/henninghall/react-native-date-picker/blob/master/README.md#why-does-the-android-app-crash-i

[2020-02-20 06:05] henninghall commented on #165
Ok thanks, could you try these solutions?

1. https://stackoverflow.com/a/45320244/3522683

2. https://stackoverflow.com/a/22959847/3522683

3. https://stackoverflow.com/a/56875424/3522683

[2020-02-20 22:12] sindu12jun commented on #165
Thank you for your suggestion, I tried but doesn't change, it might not be an issue with this library anyway, I might change it to a mask input, thank you

[2020-02-21 06:01] henninghall commented on #165
Hmm it feels like it has to do with some Android config and related to the time4j library that datepicker is dependent on. I

[2020-02-21 19:47] henninghall commented on #164
Fixed and released in v2.7.7

[2020-02-23 07:43] sindu12jun commented on #165
Hi, thank you very much!

Here is my compile configuration:
`    ext {
        buildToolsVersion = "28.0.3"
        minSdkVersion = 23
        compileSdkVersion = 28
        targetSdkVersion = 28
    }
`
I am running on android 9, thanks again!

[2020-02-24 06:18] Stanley521 commented on #163
Sorry for the late reply!  It did go to 1st March but I was hoping that the 30 and 31 didn't show up at all, is there any option for it?

For example, if I'm scrolling from January to December, I'm expecting the year to scroll down to 2019, but it stays in 2020.

Is this doable?

[2020-02-24 06:41] henninghall commented on #163
Ah okay. This is how the underlying iOS native picker UIDatePicker works so there is unfortunately nothing we can do about it.

[2020-02-24 06:41] #163 closed

[2020-03-04 02:03] cdesch commented on #107
I ran into the same issue. I cannot do the CocoPods install because it an Expo Project.

[code]

[2020-03-04 07:06] henninghall commented on #107
@cjmarecek I don't think you could run an ios app on linux without some weird hacky tricks.
@cdesch [Can I use expo?](https://github.com/henninghall/react-native-date-picker#can-i-use-expo)

[2020-03-04 12:16] wmonecke opened #169 "Crash in production only. "java.lang.IllegalArgumentException""
**Describe the bug**
It appears the bug is related to language translation:

[code]

**To Reproduce**
I can't reproduce this in dev. But it appears on some devices in production.

**Smartphone (please complete the following information):**
 - OS: [Android]
 - React Native version [0.60.4]
 - react-native-date-picker version [2.7.7]

Any ideas of what might be causing it?

[2020-03-06 02:51] mike1023 opened #170 "Android crash when show"
when i want to show picker, it crash and show below message.

version:2.7.7

[code]

![WechatIMG420](https://user-images.githubusercontent.com/15139581/76045529-51c8c000-5f98-11ea-8eeb-97b89ff47968.jpeg)

[2020-03-06 06:29] henninghall commented on #170
Thanks, I will look into tho this shortly!

[2020-03-06 06:35] henninghall commented on #169
Thanks for reporting this, I believe it is related to https://github.com/henninghall/react-native-date-picker/issues/170 and I have a clue what it's about. I'll look into it shortly!

[2020-03-06 13:32] kitkline opened #171 "Change font style (or size)"
Hi folks,

Anyway to style the date picker? Finding it looks vey small when used on iPad scale devices

Great tool - many thanks!

Cheers
Kit

[2020-03-06 21:43] henninghall commented on #171
Hi!

You could try to scale it appropriately with the transform property. Unfortunately, this does not look perfect on android without playing around a bit with the height. If you want to help out to get it to look better on Android it is very appreciated 🙂

[code]

<img src="https://i.ibb.co/H7KKHW5/Screenshot-2020-03-06-at-22-37-29.png" height="200px"/>

[2020-03-06 21:44] #169 closed

[2020-03-06 21:44] #170 closed

[2020-03-06 22:06] henninghall commented on #170
Release a fix for this in v.2.7.8

[2020-03-06 22:06] henninghall commented on #169
Release a fix for this in v.2.7.8

[2020-03-09 13:44] joelchelliah opened #173 "Avoid using Moment"
This component is depending on the very large and complex **Moment** API,  to only do a few simple date computations in the file `DatePickerAndroid.js`.

Could you please consider removing **Moment** as a dependency, and use a more light-weight API (such as date-fns, or similar) to do those few lines of logic?

Thanks :)

[2020-03-09 20:18] ChrisEelmaa commented on #171
I use this in my project to keep the units look same on every device.

[code]

Would be good to get it integrated with the library,

for example

[code]

This would look the same on every device no matter the scaling.

[2020-03-10 04:36] kittipat3699 opened #174 "How to set state date on choose outside datepicker?"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: [Android or iOS]
 - React Native version [e.g. 0.59.4]
 - react-native-date-picker version [e.g. 2.5

[2020-03-11 00:41] crazypioneer opened #176 "[Android] Japan Date Format Wrong"
[Android] Japan Day Format Wrong

Now, showing like this:

Could you help me to change the format like this?

or

[code]
 - React Native version [0.61.4]
 - react-native-date-picker version [2.7.0]

[2020-03-13 06:22] KenHoang16CDTH12 commented on #176
I have the same error.

[2020-03-15 07:45] henninghall commented on #176
Hi, have you tried the latest version?

[2020-03-15 07:49] henninghall commented on #174
You could for instance use `this.setState({ date: <new date> })` at another place in you component or lift the date state up from you component and use `date={props.date}` and call a callback function `onDateChange={props.onDateChange}` that changes the date prop.

[2020-03-15 07:49] #174 closed

[2020-03-15 07:51] henninghall commented on #173
Sounds like a great idea! I will look into it. Or do you have time to make a PR yourself? :)

[2020-03-15 07:59] crazypioneer commented on #176
Thanks for your kind.
The last one updated 8 days ago...
I checked it 4 days ago...
Means, I 'm on the latest.

[2020-03-15 08:27] henninghall commented on #176
You reported version 2.7.0 in the issue template. That's why I asked.

[2020-03-27 08:31] ipk2015 commented on #176
I fix the bug and create a pull request, plz review it. Thanks.

[2020-03-27 13:40] henninghall commented on #176
Thanks a lot! 👍I will check it out shortly

[2020-03-29 21:04] Marvedog opened #178 "OnChosenDate not called when using "nb_NO" or "fr""
**Describe the bug**
When using "time" mode, onChosenDate does not get called when using "nb_NO" or "fr" locales. It works with "en" and without locales for some reason.

**Expected behavior**
Well, it should call onChosenDate either way.

**To Reproduce**
[code]

**Smartphone (please complete the following information):**
 - OS: Both
 - React Native version [0.61.5]
 - react-native-date-picker ve

[2020-03-30 05:57] henninghall commented on #178
Hi, what version are you actually using? 2.7.9 doesn't exist 🙂

[2020-03-31 10:16] Marvedog commented on #178
Hehe sloppy writing. 2.7.8 !

[2020-04-02 18:59] henninghall commented on #178
I have tried but I don't manage to reproduce the problem. Could you send a full runnable sample?
Just to confirm, you encountered this issue on both android and ios?

[2020-04-05 17:15] henninghall commented on #176
Released in v2.7.9

[2020-04-05 17:15] #176 closed

[2020-04-08 01:19] quybv90 opened #179 "I used galaxy tabA (2016) to debug, but it got an error"
![image](https://user-images.githubusercontent.com/18332821/78734048-63bfc900-7971-11ea-87f6-85fdda1fe904.png)

[2020-04-09 07:20] henninghall commented on #179
1. Are you only getting the error during debugging, not in a release build?
2. How does your component code look like, what props are you using?
3. Could you set a breakpoint in Wheel.java and check what values state.getLocale() and getFormatPattern() are returning?

[2020-04-09 10:13] XOneto9 opened #180 ""was not found in the UIManager." For Android"
I have error
"requireNativeComponent: "DatePickerManager" was not found in the UIManager."

on Android.

When I start iOS also get this error, But I inserted "pod `react-native-date-picker` on cocoapod file. So I solve the problem for ios.
but still, I have trouble for Android .

how should I solve it?

<img width="277" alt="스크린샷 2020-04-09 오후 7 07 53" src="https://user-images.githubusercontent.co

[2020-04-09 13:38] tboerc commented on #130
I believe that the Android only prop for 24 hours would be very good too, cause in my app, I use the picker to get the amount of time that some task will have, and if it uses AM/PM, is very confusing, so 24 hours would be better.

[2020-04-09 18:21] abdallaemadeldin opened #181 "How to change the font family?"
Hello there it's amazing package i love it so much but i wanna know how can i change the picker fontfamily?

[2020-04-10 08:13] henninghall commented on #181
Hi, changing font is unfortunately not possible due to underlying limitations in UIDatePicker.

[2020-04-10 08:13] #181 closed

[2020-04-10 08:14] henninghall commented on #180
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/107

[2020-04-10 08:14] #180 closed

[2020-04-10 16:17] virendravidyarthee commented on #165
@henninghall Getting the same issue on android pie and up. Any updates on this?

[2020-04-11 04:08] crazypioneer commented on #176
@henninghall
確認出来ました。
本当に嬉しいです！〜
ありがとうございます〜〜〜

[2020-04-13 09:23] felixspitzer commented on #165
https://stackoverflow.com/questions/21814825/you-need-to-use-a-theme-appcompat-theme-or-descendant-with-this-activity

Try this one ! It fixed the issue for me. Don't forget to clean and rebuild the project

[2020-04-13 09:24] felixspitzer commented on #165
@sindu12jun @virendravidyarthee Have a look at my comment above

[2020-04-13 10:44] henninghall commented on #165
I haven't managed to reproduce this so far. If anyone could share a full example where this is present it would help a lot!

[2020-04-13 10:52] felixspitzer commented on #165
For me it was a missing style at the activity in the AndroidManifest.xml of my project. So maybe if you remove that, you can reproduce it. It became an error after installing your package. Maybe it relies on some resources of AppCompat ?

[2020-04-13 11:02] henninghall commented on #165
Did you get the same error as in the Stackoverflow thread? ie the
[code]

Seems like a different error than the one sindu12jun got:
[code]

[2020-04-13 11:16] felixspitzer commented on #165
You are right. Maybe it is unrelated to the mentioned error. The behaviour was the same though.

[2020-04-15 09:45] approached opened #182 "View config not found for name RNDatePicker"
Package has no dependencies in package.json.

**Describe the bug**
I become a error:
[code]

**Solution**
[code]

**Smartphone (please complete the following information):**
 - OS: IOS
 - React Native version 60.1
 - react-native-date-picker version 2.7.9

[2020-04-16 05:32] henninghall commented on #182
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/107

[2020-04-16 05:32] #182 closed

[2020-04-22 22:09] Jere2357 opened #183 "Crashing Release Mode App in Android"
**Describe the bug**
My App is in release mode and it is still not working on android even I already add
_-keep public class net.time4j.android.ApplicationStarter_  and _-keep public class net.time4j.PrettyTime_ to my proguard-rules.pro file.

**Expected behavior**
Expected to run on my release mode app.

**To Reproduce**
 I add two lines of "-keep" in my proguard-rules.pro  file.
[code]
I enabled

[2020-04-23 01:47] Jere2357 opened #184 "Styling date picker"
I cant style my date picker like this:
<img width="304" alt="Screen Shot 2020-04-23 at 9 46 44 AM" src="https://user-images.githubusercontent.com/54886032/80050127-5eed3e80-8547-11ea-9c09-682111db1553.png">

Do you have any suggestion on how can I meet this?

[2020-04-23 01:48] #183 closed

[2020-04-25 12:41] sriram-kailasam commented on #184
I want to remove the horizontal lines entirely. Is there any way that can be done?

[2020-04-25 23:23] blusclips commented on #184
same as me i do want to style it like that.. any suggestions yet.

[2020-04-26 18:12] henninghall commented on #184
Hi, thanks for the input! This is unfortunately not possible to do at the moment but I have been thinking about implementing a similar alternative using android's NumberPickerView. It would make it look similar to this:

<img src="https://miro.medium.com/max/1144/1*ZkCfNzu-pIrWgpBQeHYQIg.gif" width="400px"/>

Sounds like that could work for you? The only downside I see with that solution is that t

[2020-04-26 18:14] henninghall commented on #179
Reopens when questions are answered 🙂

[2020-04-26 18:14] #179 closed

[2020-04-26 18:14] henninghall commented on #178
Reopens when questions are answered 🙂

[2020-04-26 18:14] #178 closed

[2020-04-27 11:00] blusclips commented on #184
I would more than like too.

On Sun, Apr 26, 2020, 9:12 PM Henning Hall <notifications@github.com> wrote:

[2020-04-28 15:51] virendravidyarthee commented on #165
@henninghall @felixspitzer Thanks for your responses. Turns out, it was crashing due to an old gradle plugin version. Updated our gradle and it started working like a charm.

[2020-04-28 19:38] henninghall commented on #165
Great to hear! Thanks for letting us know 🙂

[2020-04-28 19:38] #165 closed

[2020-04-29 01:59] tiendn commented on #183
Hi @Jere2357 , is the problem solved ?
How did you solve this?
I have the same problem too?
But I don't use `proguard` in release

[2020-04-29 02:49] tiendn opened #185 "Crash Android with `IllegalArgumentException`"
**Describe the bug**
My some Android devices crash when render DatePicker
[code]

**Expected behavior**
Render DatePicker ok

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: [Android or iOS] **Android (only)**
 - React Native version [e.g. 0.59.4]: **0.62.2**
 - react-native-date-picker version [e.g. 2.5.1]:

[2020-04-29 02:50] tiendn commented on #185
It seems like http://terrapinssky.blogspot.com/2015/08/androidresolved-javalangillegalargument.html

[2020-04-29 06:18] henninghall commented on #185
Hi, could you please include all variables in your example? mode, tempDate etc

[2020-04-29 06:38] tiendn commented on #185
yess, this's an snapshot from my simulator.
<img width="343" alt="Screen Shot 2020-04-29 at 1 38 00 PM" src="https://user-images.githubusercontent.com/15717476/80567136-ba736c80-8a1e-11ea-8591-73ebe4dbbccc.png">

[2020-04-29 06:40] tiendn commented on #185
yess, this's an snapshot from my simulator.
<img width="632" alt="Screen Shot 2020-04-29 at 1 40 32 PM" src="https://user-images.githubusercontent.com/15717476/80567288-02928f00-8a1f-11ea-9710-6f9b29f2252b.png">

[2020-04-29 06:42] tiendn commented on #185
Unfortunately, I don't have the crash device

[2020-04-29 06:45] tiendn commented on #185
Let's me explain,
`date` && `minumumDate` I get from current time.
and `maximumDate` depend on some logic, and bigger than currentDate some days.

All value pass in with `new Date(...)`
ex:
[code]

[2020-04-29 07:06] tiendn commented on #185
I tried with no locale, but it didn't work.

[2020-05-01 08:13] approached opened #186 "[Feature request] Optional value (empty/null value)"
Hi @ all

I like this plugin, but i missed one small feature. It is not possible to set the picker without value.

**To Reproduce**
[code]

If i have a form with optional field like birthdate, so this field is everytime required.

[2020-05-01 09:06] henninghall commented on #186
How are you imagining the picker to look like when the date is null? What date should be shown?

[2020-05-01 12:20] approached commented on #186
Empty text or a placeholder would be nice like "Enter your birthday"

[2020-05-01 15:58] henninghall commented on #186
Ah okay, sorry but I don't think it is very suitable to change the text the picker itself. Also, it is not possible on iOS. I would suggest you to add the text outside of the picker and control the date with 2 variables instead, perhaps something similar to this:

[code]

[2020-05-01 15:58] #186 closed

[2020-05-02 10:21] henninghall commented on #185
I have tried but I don't manage to reproduce it so I would need some more help from you.

Could you check what values are sent into SimpleDateFormat constructor at `Wheel.java` at line 35 where the crash occurs?

[2020-05-05 08:13] tiendn commented on #185
Hmm, I have tried but failed.
Thank you for responding.

[2020-05-07 12:12] amnan181 opened #187 "Show seconds as well in time mode?"
I want to show time in format h:mm:ss. Is it possible to show seconds also in time mode?

[2020-05-12 08:55] TrustTheBoy opened #188 "Android blank"
**Describe the bug**
Android blank

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
![image](https://user-images.githubusercontent.com/20201085/81663458-48b10f00-9471-11ea-9dff-4500ed3413a3.png)
[code]

**Smartphone (please complete the following information):**
 - OS: [Android]
 - React Native version [e.g. 0.61]
 - react-native-date-picker

[2020-05-12 09:03] TrustTheBoy commented on #188
android studio console:
[code]

[2020-05-13 05:05] TrustTheBoy commented on #188
Reason found

[2020-05-13 10:18] #188 closed

[2020-05-13 10:19] henninghall commented on #188
Fixed by https://github.com/henninghall/react-native-date-picker/pull/189 and released in v2.7.10

[2020-05-13 10:23] henninghall commented on #187
Hi, that's unfortunately not possible due to limitations in UIDatePicker on iOS.

[2020-05-13 10:23] #187 closed

[2020-05-18 18:57] endlo opened #190 "Android picker breaking with minimum date, maximum date, and timezone offset combo"
**Describe the bug**
When providing props for `minimumDate`, `maximumDate`, and `timeZoneOffsetInMinutes`, the Android interface flips to the minimum date on any change and doesn't fire the `onDateChange` function. Everything works correctly on iOS. If I remove any of the props individually, everything works, it only seems to break with the combo of all three.

**Expected behavior**
The Android in

[2020-05-18 22:53] endlo commented on #190
Some follow up on this: we're only noticing this happen on Android 8.0 or later. Just tested with a device running Android 7.0 and the picker works but lists an option for a date that is invalid. Added a screenshot below. Sunday is not a valid date to choose as it is prior to the minimum date. On devices 8.0 or later, the only option is Sunday and "Today" (which is as of Monday May 18th) is not av

[2020-05-18 23:29] endlo commented on #190
Even more context: this seems to only be the case when the minimum and maximum dates are on the same day and the mode is `datetime`.

[2020-05-21 02:25] truongduyng commented on #185
I have also met this issue. It only happens on HUAWEI and OPPO android device. I guess they did something with date format

[2020-05-25 13:49] truongduyng commented on #185
@henninghall can we simply try/catch at that line to fallback to default format?

[2020-05-26 02:39] Dabrown18 commented on #107
I just got the same error message as the above message

[2020-06-04 15:40] Yigityakut commented on #171
@ChrisEelmaa Does this method work on Android devices too? Why did you pick especially iphone6 for the default screensize. I have been trying to find the perfect way for this scaling issue and I have been writing a lot of stlying to my components for different device sizes. Little enlightenment about this issue is much appreciated.

[2020-06-04 16:29] Yigityakut opened #191 "onDateChange doesn't work lower than minimumDate"
**Describe the bug**
mode: datetime
minimumDate : 04/06/2020 15:00
current selected date : 04/06/2020 18:00

When you swipe the hour scroll to below minimumDate, it automatically goes to minimumDate. That's fine. The problem is in that moment, onDateChange is not triggered and our selected date value is not updated to the minimumDate.

**Expected behavior**
onDateChange must be triggered to minimu

[2020-06-06 18:22] stephanoparaskeva commented on #173
Moment is almost 4mb and this package is already 135kb unpacked. It's a gamechanger so I'd definitely +1 this!

[2020-06-06 21:13] stephanoparaskeva opened #192 "removed"
removed

[2020-06-06 22:04] #192 closed

[2020-06-09 02:39] HoanHearti commented on #185
any update for this issue??

[2020-06-09 02:52] stephanoparaskeva opened #193 "Request: Make lines thinner on Android for Dark Colors"
The size of the lines on android are pretty thick for dark colors and really stick out:

<img width="291" alt="Screenshot 2020-06-09 at 03 51 34" src="https://user-images.githubusercontent.com/40718272/84100810-89665e80-aa04-11ea-81c5-3ff3555dc5df.png">

Where as for IOS they're more sleek:

<img width="291" alt="Screenshot 2020-06-09 at 03 52 04" src="https://user-images.githubusercontent.com/407

[2020-06-09 06:19] HoanHearti commented on #185
![photo_2020-06-09 13 18 02](https://user-images.githubusercontent.com/61687867/84112872-bf7eff00-aa53-11ea-88d6-41fc22c66321.jpeg)
i have issue with Huawei device

[2020-06-09 11:52] draperunner opened #194 "Wheel.java IllegalArgumentException: Illegal pattern character 'e'"
**Describe the bug**
We see a bunch of crashes in Crashlytics due to `Illegal pattern character 'e'` and some `Illegal pattern character 'g'`.

Here's the stack trace:
[code]

It happens on a variety of different models:

<img width="330" alt="image" src="https://user-images.githubusercontent.com/4339443/84144293-51890680-aa58-11ea-960b-3920f7020718.png">

**Expected behavior**
No crashes.

**To R

[2020-06-09 18:01] henninghall commented on #194
Thanks a lot, I will look into it!

[2020-06-09 18:01] henninghall commented on #193
I agree, that would be nice!

[2020-06-09 18:02] henninghall commented on #191
Thanks, I will look into it!

[2020-06-09 18:03] henninghall commented on #190
Thanks a lot for your explanation, sorry for taking some time but I will look into it.

[2020-06-10 00:28] ajiehatajie commented on #107
same issue with rn 62.2

[2020-06-12 02:32] truongduyng commented on #185
hey bro, could you check what values are sent into SimpleDateFormat constructor at Wheel.java at line 35 where the crash occurs?

[2020-06-13 09:52] truongduyng commented on #185
@henninghall finally I manage to reproduce the case. The function `getFormatPattern` return `y'` for some device types. Please help to check! I am using locale 'vi'

[2020-06-13 10:32] truongduyng commented on #185
`EEE  ngà y  dd  MMM  nă m  y` get this also

[2020-06-15 07:55] draperunner commented on #194
I was just able to reproduce it on a Samsung simulator. It crashes when the system language is set to Danish. English works fine. We are using the `locale` prop to override the system language, but it crashes anyways.

[2020-06-16 08:30] truongduyng commented on #185
for those who need a quick and temporary fix https://github.com/sportavn/react-native-date-picker

[2020-06-17 04:42] tiendn commented on #185
@truongduyng  plz reduce your image size before uploaded.

It's too hard to scroll and see the content

[2020-06-17 14:13] truongduyng commented on #185
I quoted his comment only. LOL

[2020-06-18 17:58] #194 closed

[2020-06-18 18:22] henninghall commented on #194
Released the fix for this in `2.7.11`

[2020-06-18 18:24] henninghall commented on #185
Released a potential fix for this in version `2.7.11` @truongduyng could you check if it solves this problem?

[2020-06-22 16:47] srednicki95 opened #197 "[IOS] Build failed: Declaration of 'RCTBubblingEventBlock' must be imported from module"
**Describe the bug**
IOS App build fails after added react-native-data-picker.
Error in DataPicker.m file:
`Declaration of 'RCTBubblingEventBlock' must be imported from module 'React.React.RCTView' before it is required`

All work correctly on Android.

**Expected behavior**
IOS app build successfully.

**To Reproduce**
react-native init
yarn add react-native-data-picker
cd ios
pod install

try to

[2020-06-23 05:16] henninghall commented on #197
Hi! Which version of Xcode are you using?
Does it happen on React Native v0.62?

[2020-06-23 07:26] srednicki95 commented on #197
@henninghall I use 11.4.1 xcode, but also tested it on 11.3.1.
About React Native version I tested only on 0.59.10

[2020-06-23 19:18] henninghall commented on #197
Could you please test on react native 0.62 and check if the issue exist there? It would be very helpful! It sounds very strange if this error would be present without me nor anyone else noticing it 😅

[2020-06-24 08:18] truongduyng commented on #185
I checked. `2.7.11` solves this problem. Thank you, guys @draperunner @henninghall

[2020-06-24 08:25] #185 closed

[2020-06-24 08:26] tiendn commented on #185
Tks @truongduyng

[2020-06-24 20:32] srednicki95 commented on #197
I'll check it soon. It is possible that this may be caused by configuration in my Podfile. I have this fork, but this is only a temporary solution.

[2020-06-25 23:44] mars-lan opened #199 "Request: Support "countdown" mode"
It's probably a big ask but is there any plan to support the "countdown" mode for both Android & iOS?

[2020-06-27 09:46] henninghall commented on #199
It would be great to be able to support countdown. There is no concrete plan for it atm but I fully support the idea. If you want to start working on it, it is very appreciated!

[2020-07-05 14:50] henninghall commented on #197
Cannot reproduce it, probably something with your setup, try to compare it with a clean react native project

[2020-07-05 14:50] #197 closed

[2020-07-06 08:55] subhani-ali commented on #107
+1

[2020-07-10 07:08] ospfranco commented on #190
We are facing some related issue, only android, when maxDate, minDate and offset are set, you can try to select a minute which is larger than the maxDate, the component resets fine most of the time, but every once in a while it doesn't so you are able to select a date greater than the maxDate (or minDate), it happens randomly though, so it might be some sort of race condition in the android implem

[2020-07-11 05:15] mars-lan opened #202 "NPE for "eu-ES" locale"
**Describe the bug**
NPE is thrown when the default locale is set to "eu-ES" (Basque in Spain). This is due to the [getFormatPattern](https://github.com/henninghall/react-native-date-picker/blob/35770eacf96b00539c1edd79bece3a75d5ca27fc/android/src/main/java/com/henninghall/date_picker/wheels/YearWheel.java#L70) returning null.

Similar to https://github.com/henninghall/react-native-date-picker/iss

[2020-07-11 21:29] #184 closed

[2020-07-11 22:39] henninghall commented on #184
Released in 3.0.0

[2020-07-12 14:51] henninghall commented on #202
Thanks for reporting this! Fixed by https://github.com/henninghall/react-native-date-picker/pull/204 and released in `v3.0.1`

[2020-07-12 14:51] #202 closed

[2020-07-12 19:27] henninghall commented on #191
Fixed in https://github.com/henninghall/react-native-date-picker/pull/208 and released in version ```3.0.2```

[2020-07-12 19:27] #191 closed

[2020-07-12 19:32] henninghall commented on #190
Seems like there are a few different issues here. I found a situation were onChange didn't trigger when exceding min/max dates. This problem has been fixed in v3.0.2.

@endlo If you can reproduce the "extra visible day"-problem it would be great if you could send me the code. I didn't manage to reproduce by your initial code sample. I could only reproduce the "onChange trigger" problem from that.

[2020-07-13 05:07] killu3000 opened #209 "[Solved] Compilation error on Xcode 12 beta"
**Describe the bug**
Multiple semantic issues during compilation, saying that "Property has a previous declaration" for every property in "UIView+React.h"
Maybe the new compiler in Xcode 12 thought that the properties were declared twice, so it threw the error

**Expected behavior**
Build Success
(It used to work fine on Xcode 11)

**To Reproduce**
React-native version: 0.59.9
React-native-date-pi

[2020-07-15 15:46] dmitriy-saltovskiy opened #210 "UI has an issue with th locale"
**Describe the bug**
AM / PM switches on ios are gone, on android their text is cut off
https://prnt.sc/ticma2

**Expected behavior**
Switchers are showing and text is not cut off

**To Reproduce**

[code]

**Smartphone (please complete the following information):**
 - OS: Android and iOS
 - React Native version 0.62.2
 - react-native-date-picker version 3.0.2

[2020-07-20 04:10] #209 closed

[2020-07-20 10:48] henninghall commented on #209
@killu3000 Hi, don't we need this for Xcode 12 anymore?

[2020-07-20 11:33] henninghall commented on #190
Let me know if your issues exist in the new version and we can repoen the issue

[2020-07-20 11:33] #190 closed

[2020-07-21 04:19] pstakoun opened #212 "DatePicker UI breaks when run in Debug on iOS 14 beta"
**Describe the bug**
The DatePicker component looks different in a very unexpected way on the iOS 14 beta. After further investigation, this issue seems to go away in Release mode.

**Expected behavior**
I expect a user interface consistent with that of previous versions.

**Observed behavior**
Initial render, before pressing DatePicker:
![IMG_B79A9282A1EC-1](https://user-images.githubusercontent.

[2020-07-21 15:42] lucascroxatto opened #213 "Predefined times (hours / minutes)"
Hi Henning, is it possible to predefine the hours to be displayed in "time" mode?

For instance, I need to let available just 10:00 am and 3:00 pm.

Regards and great work!

[2020-07-23 00:47] JeremiahUL opened #214 "ld: warning: meta method 'UIDatePickerMode:' in category"
**Describe the bug**
A warning on the latest 3.0.2 where the meta method 'UIDatePickerMode' is duplicated exactly like the React-Native Core 'UIDatePickerMode', this causes a warning that I can seem to fix or suppress.
Is there a way to change the name of the method so it doesn't clash with that one.
Is there a way to suppress warnings like this

**Expected behavior**
No warnings ... No method dup

[2020-07-23 12:56] henninghall commented on #214
Which version of Xcode and iOS are you using?

[2020-07-23 14:04] JeremiahUL commented on #214
Hi @henninghall , XCode version 11.6

On Thu, Jul 23, 2020 at 1:56 PM Henning Hall <notifications@github.com>
wrote:

[2020-07-24 13:21] charbelsako opened #215 "Invariant violation: requireNativeComponent "DatePickerManager" was not found in the UIManager"
Why is this error occurring?
I can provide with more info.

[2020-07-24 15:07] JeremiahUL commented on #214
Hi were you able to see or replicate the warning.

[2020-07-26 17:25] henninghall commented on #213
Hi! It is unfortunately not possible at the moment, tracking this feature request here https://github.com/henninghall/react-native-date-picker/issues/123

[2020-07-26 17:25] #213 closed

[2020-07-26 17:26] henninghall commented on #215
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/44

[2020-07-26 17:26] #215 closed

[2020-07-26 17:48] #210 closed

[2020-07-26 20:31] #212 closed

[2020-07-26 20:41] henninghall commented on #212
Thanks for reporting! Fixed in ```v3.0.3```

[2020-07-26 20:42] henninghall commented on #210
Thanks for reporting! Fixed in ```v3.0.3```

[2020-07-26 20:47] pstakoun commented on #212
Thanks for the quick fix!

[2020-07-26 20:58] henninghall commented on #210
@dmitriy-saltovskiy btw, I am considering adding a modal option to this lib, similar to your screenshot. Would you be interested in sharing some code or even creating a PR for this? 🙂

[2020-07-27 10:09] henninghall commented on #209
Seems to be fixed in beta 3

[2020-07-27 11:36] charbelsako commented on #215
do I have to run it from Xcode?

[2020-07-27 16:37] henninghall commented on #173
@ stephanoparaskeva @joelchelliah

I made some investigations and tried replacing moment with date-fns. I used the tool [react-native-bundle-visualizer](https://github.com/IjzerenHein/react-native-bundle-visualizer) on a fresh react-native app (installed react-native-date-picker installed on top) and got these result:

Moment 58KB
Date-fns 152KB

The total bundle size diffs with around ~100KB as e

[2020-07-27 16:37] #173 closed

[2020-07-27 17:03] henninghall commented on #215
No that should not be necessary

[2020-07-27 17:14] stephanoparaskeva commented on #173
I think you might instead want to use Native JavaScript instead of any packages. I noticed that your repo only uses moment in less than 5 locations and managed to replace this all with native JavaScript. I can't make a PR because I ended up changing everything to react Hooks. But here is the repo and it shows that there is no external libraries needed whatsoever:
https://github.com/stephanoparaske

[2020-07-27 17:38] henninghall commented on #173
Thanks for the input. The reason for not using the javascript date object, and modifying it with setMinutes, is that I want to avoid problems around the daylight saving switch. [Longer explanation here](https://stackoverflow.com/questions/1197928/how-to-add-30-minutes-to-a-javascript-date-object/1214753#1214753).

[2020-07-27 17:42] stephanoparaskeva commented on #173
Gotcha, that makes sense. Thanks for the explanation

[2020-07-28 12:29] henninghall commented on #143
Solved with ```androidVariant="nativeAndroid"```

If anyone needs this the recommended solution is to use the "nativeAndroid" variant. On iOS this is already supported.

[2020-07-28 12:29] #143 closed

[2020-07-28 16:36] andreialecu commented on #130
@henninghall I notice you're back in action here. Would be awesome if this issue could be addressed as part of the current set of changes. Seems like it would be easy enough to support based on: https://github.com/henninghall/react-native-date-picker/issues/111#issuecomment-562577758

[2020-07-28 16:56] andreialecu opened #221 "Scrolling fast makes the date jump around"
**Describe the bug**

Attaching a recording:
![jUqAAavwTi](https://user-images.githubusercontent.com/697707/88696057-6a826f80-d10b-11ea-8f71-d705c73788c4.gif)

It appears that when quickly dragging the date around, the behavior is pretty erratic.

It's worse in practice when moving from date to time:

![Va8LS9Mxde](https://user-images.githubusercontent.com/697707/88696473-fe543b80-d10b-11ea-8475-6

[2020-07-28 17:03] andreialecu commented on #221
If I remove the `date` prop from the `DatePicker` it stops jumping:

[code]

This should confirm it's some sort of race condition.

[2020-07-28 17:16] andreialecu commented on #221
Further confirmation:

[code]

[code]

Seeing the two `console.log`s within 0.4s of each other. Noticed date jump from one date to another.

I will add a debounce temporarily.

[2020-07-28 19:16] #116 closed

[2020-07-28 19:43] henninghall commented on #130
@andreialecu I am definitely considering it but I am not totally convinced that it is the best approach.

1. In some situations I believe that a duration mode would be a better solution, for instance https://github.com/henninghall/react-native-date-picker/issues/130#issuecomment-578065404. Im tracking duration/countdown mode in this issue https://github.com/henninghall/react-native-date-picker/iss

[2020-07-28 19:45] henninghall commented on #221
Great investigation! 🏆 I'll look into it

[2020-07-28 19:53] andreialecu commented on #130
I'm not planning to use it for duration fwiw.

Maybe `prefer24h={true}` or `androidPrefer24h={true}`? In my case the app allows changing the locale from within its settings.

The custom locale generally uses 24 hour formats and it can confuse users if they see am/pm. It's not a huge deal, but seeing that there's a flag for it in the underlaying library I don't see why it wouldn't be exposed. :)

[2020-07-28 20:10] henninghall commented on #130
Okay that's cool, would you mind explaining what you mean by "custom locale"?

As I see it, the reason for not exposing it would be the risk of developers mistakenly creating a bad user experience. That might also be the reason for Apple not wanting to expose this setting in the iOS datepicker.

Would a prop called something like "use24hourPreferenceFromLocale" solve the problem for you? If enable

[2020-07-28 20:18] andreialecu opened #223 "'preferredDatePickerStyle' not found on object of type 'DatePicker *'"
**Describe the bug**

While building on AppCenter CI/CD, it seems that the newest version 3.0.3 fails the build with the following error:

[code]

Seems this is caused by https://github.com/henninghall/react-native-date-picker/pull/217

AppCenter is configured to use xcode 11.2.1

**Smartphone (please complete the following information):**

 - react-native-date-picker version 3.0.3

[2020-07-28 20:49] andreialecu commented on #223
Fortunately I was able to change the version of xcode to 11.6 and got this resolved. Closing.

[2020-07-28 20:49] #223 closed

[2020-07-28 20:50] nerdygirl commented on #40
I just ran into the same issue and this fix worked for me. Thanks!

[2020-07-29 08:12] andreialecu commented on #130
In practice it may be common for the the user's device to be set to an English locale, by default. For example, Romanian uses 24h time - as probably most European countries.

Based on my analytics about half of users here set their OS-level phone language to Romanian and the other half use English. Even though the phone may be in English, most romanian speaking users would pick Romanian for specif

[2020-07-29 13:31] charbelsako opened #224 "Date picker fails to compile upon building"
**Describe the bug**
After installing the package and running `pod install` in the iOS folder,
running  `react-native run-ios` fails on building the library Datepicker.m

**Expected behavior**
expected to compile

[code]

**Smartphone (please complete the following information):**
 - OS: iOS 13.3
 - React Native version 0.63.2
 - react-native-date-picker version 3.0.3

[2020-07-29 13:41] henninghall commented on #224
Hi, what error do you get? What is your Xcode version?

[2020-07-29 13:46] charbelsako commented on #224
Sorry forgot to post it

[2020-07-29 13:51] henninghall commented on #224
Thanks, could you try upgrade to Xcode 11.6 if not already having it?

[2020-07-29 13:59] charbelsako commented on #224
I can't upgrade to 11.6 I have an old Mac

[2020-07-29 14:59] henninghall commented on #224
Ah okay then we need to find a solution for it, meanwhile you can downgrade to 3.0.2

[2020-07-30 19:23] JeremiahUL commented on #214
Hi @henninghall @hungneox @davegurnell @grifotv
Please I am sorry for this but can I fix this in anyway. Even if its a quick fix. Please help

[2020-07-30 21:23] henninghall commented on #214
I have replicated the warning but it doesn't seem to affect the usage. Do you mean that you have issues compiling or using the picker?

[2020-07-30 22:32] JeremiahUL commented on #214
I am not having issue compiling or anything like that. It is totally fine in other projects but this particular project does automatic deployment and fails on every warning. If I were able to suppress it, I would have

[2020-07-31 10:23] henninghall commented on #224
@charbelsako from what year is your mac? pro/air?

[2020-07-31 10:28] #145 closed

[2020-07-31 13:42] #193 closed

[2020-08-01 16:15] JeremiahUL commented on #214
Wow. This is awesome

[2020-08-02 14:50] #214 closed

[2020-08-02 19:36] #221 closed

[2020-08-02 20:28] henninghall commented on #221
Fixed in v3.1.0

[2020-08-02 20:28] henninghall commented on #214
Fixed in v3.1.0

[2020-08-02 20:29] henninghall commented on #116
Fixed in v3.1.0

[2020-08-02 20:29] henninghall commented on #145
Fixed in v3.1.0

[2020-08-02 20:49] henninghall commented on #130
Interesting, I think I understand! So if it worked like the iOS picker (24h-format is determined by selected locale, Romanian locale would always show 24h) it would work for your use-case, right?

[2020-08-03 06:38] andreialecu commented on #130
Yes. I think so. Having it follow the locale settings is what I need.

[2020-08-03 15:07] henninghall commented on #130
Then I'll start adding that feature, and add a "force24h" prop later on if someone finds a situation were it is really no way around it.

[2020-08-05 11:59] charbelsako commented on #224
Pro, Mid 2012

[2020-08-07 01:05] odesey opened #227 "Android Spinner Line Color"
**Describe the bug**
Setting the line color as per the documentation is not working.

**Expected behavior**
The spinner line color should be updated as per the documentation:

`<item name="colorControlNormal">#ff0000</item>`

**To Reproduce**

[code]

`styles.xml:`

[code]

`AndroidManifest.xml:`
[code]

**Smartphone:**
 - OS: Android (version 10)
 - React Native version: 0.61.5
 - react-native-da

[2020-08-07 15:00] enrickdl opened #229 "[Android] DatePicker isn't showing on Android, only on iOS"
**Describe the bug**
Both android variants "iosClone" and "nativeAndroid" isn't displaying on the app. Instead, what is being displayed is the normal android calendar date picker:

<div align="center" >
<img src="https://user-images.githubusercontent.com/65981081/89658728-45c58f00-d8a5-11ea-9c49-3a31b9dd5c3e.png" width="20%">
</div>

iOS version is working like a charm!

**Expected behavior**
Disp

[2020-08-10 20:39] henninghall commented on #229
How does your import line look like?

[2020-08-10 23:47] enrickdl commented on #229
I'm importing as `import DatePicker from 'react-native-date-picker'`.

Also, I did run pod install, iOS is working, unfortunately, isn't working on Android :(

[2020-08-11 05:42] henninghall commented on #229
Ok, have you previously installed another datepicker?

[2020-08-11 11:45] enrickdl commented on #229
Yep, I had `@react-native-community/datetimepicker installed`, do you think some sort of conflict was happening? I do remember having that dependency uninstalled and it didn't work either

[2020-08-12 07:13] henninghall commented on #229
I suspect that some kind of conflict might happen since there is no code for showing that picker in this lib. Have you tried removing the other lib from package.json and deleting node modules?

[2020-08-12 13:15] enrickdl commented on #229
Just tried again and it didn't work :(  This time I uninstalled and removed node_modules before installing `react-native-date-picker` and it only works on iOS again.

My Steps:
- remove `@react-native-community/datetimepicker` and `rm -rf node_modules` and run yarn again.
- `yarn add react-native-date-picker` and `cd ios && pod install`
- `import DateTimePicker from '@react-native-community/dateti

[2020-08-12 13:29] enrickdl commented on #229
I just test it out on a fresh 0.63 React Native project and it worked. So something must be happening on my work project that is not allowing this lib working on android. I'll check It out.

[2020-08-12 13:45] enrickdl commented on #229
Case Closed! There was a method within the app that only showed a specific time picker for android. Since this project is 3 years old, I believe that this made sense back in time.

react-native-date-picker is working like a charm! Thanks for your time, @henninghall!

[2020-08-12 13:54] #229 closed

[2020-08-15 16:51] tipos commented on #44
Hi everyone! According to docs, there is no need to link if the RN version is greater than 0.59:

![image](https://user-images.githubusercontent.com/6452564/90317179-17f1e180-df5a-11ea-9490-0c1025db2440.png)

I am using expo v38.0.8 with RN >0.60 but it still throws `requireNativeComponent: "RNDatePicker" was not found in the UIManger IOS!` error on both iOS and Android.

Is there a way to use thi

[2020-08-17 08:59] dmitriy-saltovskiy commented on #210
@henninghall
unfortunately I have no code with that example.
for such a result i wrapped datepicker inside https://github.com/jeremybarbet/react-native-modalize.

[2020-08-17 17:44] odesey commented on #227
Any help with this issue?

I also removed the `@react-native-community/datetimepicker` package just to make sure there were no conflicts, same result. The line color remains black.

![date_picker](https://user-images.githubusercontent.com/3899366/90426750-93a17a80-e08f-11ea-8206-533c9c7c3d2f.jpg)

[2020-08-17 22:57] odesey commented on #227
Found a work around by doing the following, but i'm not sure if this is a good idea:

`styles.xml: `

[code]

Basically, after looking at the source code I created a style with the same name and over-rode the color there.

[2020-08-18 16:28] Jaja0624 commented on #40
anyone using expo having same issue?

[2020-08-19 00:27] glitchwizard opened #230 "TypeError: Object(...) is not a function"
**Describe the bug**
Using Expo and Typescript in my project, I followed the instructions on how to set it up in a simple component, and I'm getting the following error:

![image](https://user-images.githubusercontent.com/40527412/90578230-a1322f80-e177-11ea-9261-e68589929a8d.png)

And when I use an android emulator, it looks like this

![image](https://user-images.githubusercontent.com/40527412/9

[2020-08-19 00:44] glitchwizard commented on #230
Just as a test, I went and created a brand new expo project using Expo Init, and still got the same error when the source code in "App.tsx" was just the following:

[code]

Wanted to make sure it wasn't something else in my app that might be conflicting, but it looks like this is an issue from the package and not my project.

Here's a screenshot of the emulator:
![image](https://user-images.github

[2020-08-19 05:43] henninghall commented on #230
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/11

[2020-08-19 05:43] #230 closed

[2020-08-23 12:31] ttristan opened #233 "Width style not applied on Android (to stretch the date picker)"
Setting `<DatePicker style={{ width: Dimensions.get('screen').width }} />` works on iOS but not and Android since 3.1.0
Relates to #145 #222

**In Version 3.2.0:**
iOS
<img width="454" alt="1" src="https://user-images.githubusercontent.com/24268434/90978334-6d775100-e54d-11ea-82eb-7f8cf5dbb461.png">

Android
<img width="395" alt="2" src="https://user-images.githubusercontent.com/24268434/90978333-

[2020-08-23 19:41] #233 closed

[2020-08-23 19:43] henninghall commented on #233
Thanks for reporting this! fixed in v3.2.1

[2020-08-24 02:16] odesey commented on #227
I did apply the theme in my `styles.xml` as follows:

[code]

That theme is used for the splash screen of the app

[2020-08-24 05:23] henninghall commented on #227
How does your AndroidManifest.xml look like?

[2020-08-24 07:21] charbelsako commented on #224
I did not upgrade Xcode.
But I am gonna do it later on.

[2020-08-24 11:07] tapz opened #235 "Android: wrong width with 3.2.1"
**Describe the bug**

The component lines are too wide in 3.2.1 and the component is not properly centered.

3.2.1:
![IMG_7918](https://user-images.githubusercontent.com/11726387/91037963-9ca3c600-e612-11ea-9142-608737525c29.jpeg)

**Expected behavior**

3.2.0:
![IMG_7919](https://user-images.githubusercontent.com/11726387/91037978-a299a700-e612-11ea-9878-ba0f545b22fd.jpeg)

**To Reproduce**
Add e

[2020-08-24 18:42] henninghall commented on #224
Alright, Xcode 11.6 will probably resolve this issue, let me know if it doesn't and we'll reopen this issue.

[2020-08-24 18:42] #224 closed

[2020-08-24 22:02] odesey commented on #227
`Android.xml:`

[code]

[2020-08-29 03:32] tarouboy opened #236 "If locale is "da" ( Demark ), app crashes."
There are only year and month available, when you try to change the month or year, it crashes immediately. ( Android Only. iOS is fine )
I couldn't catch the error so not sure what happened.
I believe the date formatting issues.

Maybe can suggest a list of supported Locales?

[2020-08-29 08:33] henninghall commented on #236
What do you mean by this?

I don't manage to reproduce it, could you please supply a code sample where this problem occurs?

[2020-08-29 09:24] henninghall commented on #227
@odesey Thanks, tried it and for me it still works.

Could you share a repo with a full runnable example where this problem occurs? Would be great thanks

[2020-08-29 09:43] #235 closed

[2020-08-29 09:49] henninghall commented on #235
Fixed in version 3.2.2. Centered it and made it a bit more narrow by default but not as much as you requested since the time picker on iOS is wider. You can achieve a more narrow look by setting your own preferred width by `style={{ width: 100px }}` etc

[2020-08-31 01:52] odesey commented on #227
This might be tough as this is a private client repo but I will try.

 Could the fact that [react-native-navigation](https://github.com/wix/react-native-navigation) by `Wix` is being used be causing the issue?

[2020-08-31 17:43] henninghall commented on #227
I understand, what I meant was that if you could reproduce the problem in a clean react native project that you could make public. That would be really helpful to get to the bottom of this 🙂

[2020-08-31 17:43] henninghall commented on #227
I have hard to believe that react-native-navigation would cause this issue.

[2020-09-01 11:34] lumotroph commented on #212
Such a pity that this breaks compatibility with XCode <= 11.3.1

[2020-09-07 11:28] ganeshdongre opened #238 "onDateChange not called when date / time is selected/clicked. Gets called only when selection through scroll"
**Describe the bug**
I liked the component as it bundles date & time together and selection is very simple.
I find onDateChange() is not fired when I select the date by clicking on the date/time from the list (say as in screenshot Sept 6/Sept 8 OR Time 2/4  OR Values above or below the current selected). Scroll on the date/hour/min/am-pm does fire this callback.

![image](https://user-images.githu

[2020-09-09 12:24] code-by commented on #191
When I set minimum date as `Date('10/10/2020')`, picker shows today instead of 10th of Oct.

[2020-09-09 19:51] henninghall commented on #238
Thans for reporting this, I'll look into it!

[2020-09-10 08:11] VisitPlan opened #239 "Can anyone help me with responsiveness?"
Hello Team,

Thank you for this Greate Library.

I am facing the Responsiveness issue with small screens. Can someone help me how to make it responsive?

Thanks

[2020-09-10 11:35] soltysaleksandr commented on #238
same issue, doesn't work only for Android(iOS works as expected)

tested on:
React Native version - : "0.62.1",
react-native-date-picker version "2.7.9"
react-native-date-picker version "3.2.2"

[2020-09-10 14:28] navasiloy commented on #209
still experiencing with xcode 12 beta 6

[2020-09-10 17:37] henninghall commented on #239
Hi, I don't really understand what you mean, could you send screenshots or video of your problem?

[2020-09-10 19:08] VisitPlan commented on #239
Please find the screenshot and the Video link. I have given width and height as 25% of the screen width and 10% screen height.
![WhatsApp Image 2020-09-10 at 12 38 32 PM](https://user-images.githubusercontent.com/58108991/92787395-af661b00-f3c6-11ea-8b11-3848ef7bde65.jpeg)
[Screen Record](https://drive.google.com/file/d/11pg_cUtIP7d7y3OrckieQ7wY1c3Edj4F/view?usp=sharing)

[2020-09-10 19:25] henninghall commented on #236
I've tried da locale on date mode but I can't reproduce the error. Please provide a reproducible sample and I will try to fix your problem 🙂

[2020-09-10 19:25] #236 closed

[2020-09-10 19:26] henninghall commented on #227
Please provide a reproducible example and I'll try to help you out 🙂

[2020-09-10 19:26] #227 closed

[2020-09-10 19:30] henninghall commented on #239
That picker size is unfortunately not supported. I would try to make the container bigger or put the picker in a modal or on another page.

[2020-09-10 19:30] #239 closed

[2020-09-10 19:34] henninghall commented on #129
I've decided not to fix this. I will be seen as a limitation of the iosClone variant of the picker. The workaround will be to set the height to a slightly smaller value.

[2020-09-10 19:34] #129 closed

[2020-09-10 20:01] #238 closed

[2020-09-10 20:04] henninghall commented on #238
Released a fix for this in v3.2.3

[2020-09-16 07:30] stuart-ithands opened #241 "Error while using in IOS"
Property 'preferredDatePickerStyle' not found on object of type 'DatePicker

Use of undeclared identifier 'UIDatePickerStyleWheels'

 if(@available(iOS 14, *)) {
            self.preferredDatePickerStyle = UIDatePickerStyleWheels;     // Error here
        }

[2020-09-16 16:58] henninghall commented on #241
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/224

[2020-09-16 16:58] #241 closed

[2020-09-17 11:56] kentandersen commented on #173
Hate to digg up a closed isssue; but given that moment has declared itself [done](https://momentjs.com/docs/#/-project-status/), and is actively recommending other alternatives, I think it is time to revise the decision to include moment.js

Having wasted a good amount of time with daylight savings I understand you don't want to touch that with a 10ft pole. The longer explanation you are referring

[2020-09-18 15:01] Spit-Biagio opened #243 "[🐛] Bug Report Title - Xcode 12 compatibility"
**Summary**

Latest Xcode 12 fails to build while without a module to depend on React-Core directly hence this change is necessary for all native modules on iOS. This change requires React Native 0.60.2 or newer. For more details please check: facebook/react-native#29633 (comment)

**Test Plan**
Use this branch to install with an app running on Xcode 12.

[2020-09-23 03:35] vgo4autobot opened #244 "Compilation error on Xcode 12 Property has a previous declaration"
Multiple semantic issues during compilation, saying that "Property has a previous declaration" for every property in "UIView+React.h" Maybe the new compiler in Xcode 12 thought that the properties were declared twice, so it threw the error
Expected behavior Build Success (It used to work fine on Xcode 11)
To Reproduce React-native version: 0.59.9 Xcode version: XCode 12  Just build the app

[2020-09-24 12:38] Toxer10 opened #245 "IOS 14 compatibility"
Will there be an update of datepicker for IOS 14 devices? From IOS 14 the native datepicker looks completely different and app crashes when interacting with it.
![image](https://user-images.githubusercontent.com/25991946/94145978-fc90c500-fe7b-11ea-81ab-a9d73b6a7741.png)

[2020-09-24 19:54] henninghall commented on #245
As far as I know this has been resolved and released, have you tried the latest version? See https://github.com/henninghall/react-native-date-picker/issues/212

[2020-09-24 21:12] manastasiou opened #246 "Cannot run on ios with react native 0.63.2"
I am getting the following error while trying to run the ios

[code]

i have the latest version of react native
    "react-native": "^0.63.2"

And i also get this
[code]

[2020-09-24 23:34] Toxer10 commented on #245
@henninghall Oh, really, didn't see it. Thanks for your work and quick answer. This package is lit 🔥

[2020-09-24 23:34] #245 closed

[2020-09-26 07:58] henninghall commented on #246
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/224

[2020-09-26 07:58] #246 closed

[2020-09-28 15:29] shivdotpy opened #247 "Android, dates not visible on [mode={'date'}]"
**Describe the bug**
In IOS running perfectly, but in Android dates not visible

**Expected behavior**
Date Should be visible on

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: Android
 - React Native version : 0.63.0
 - react-native-date-picker version : ^3.1.0

<img width="319" alt="Screenshot 2020-09-28

[2020-09-29 03:57] Ruth27-dev commented on #244
I can not event build. any solution for this?

[2020-09-29 08:43] bahtiyarerden opened #248 "Different UI on IOS 14"
I am getting bug from https://github.com/react-native-community/datetimepicker/issues/285#issue-705637780

I am currently preparing my app for the iOS 14. I have noticed that the date picker is not what it used to be.

Here is what it looks like on iOS 13.7:

![](https://user-images.githubusercontent.com/10779996/93776147-f0162d80-fc2b-11ea-990d-295829d7de77.png)

Here is the iOS 14 version:

![](

[2020-09-29 09:05] bahtiyarerden commented on #248
It fixed on new version

[2020-09-29 09:05] #248 closed

[2020-09-29 09:10] luojiong commented on #248
Which method did you use to solve the problem @bahtiyarerden

[2020-09-29 09:22] bahtiyarerden commented on #248
I updated library to 3.2.3 version. I checked the library versions and it seems to fixed at v3.0.3

[2020-09-29 09:26] luojiong commented on #248
Okay, thanks for your answer, I will try to update to the latest version

[2020-09-30 07:02] baronhsiao opened #249 "Android mode="date" There are 31 days in February"
**Describe the bug**
There are 31 days in February.

**Expected behavior**
There are only 29 days or only 28 days in February.

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: [Android]
 - React Native version [0.61.4]
 - react-native-date-picker version [3.2.2]

[2020-10-05 04:08] chengsam commented on #244
Just remove `#import "UIView+React.h"` in `RNDatePickerManager.m`

[2020-10-12 19:27] henninghall commented on #243
Thanks for reporting this, it has been fixed in version 3.2.4.

[2020-10-12 19:27] #243 closed

[2020-10-12 19:30] henninghall commented on #247
Hi, which locale or language on your phone are you using?

[2020-10-12 19:31] henninghall commented on #244
This is probably fixed in version 3.2.4, please let me know if it doesn't solve your problem

[2020-10-12 19:31] #244 closed

[2020-10-12 19:38] henninghall commented on #249
Thanks for reporting this. This is intentional and similar to how the iOS picker works: the date will exist but you can't stop the wheel on that date. Making an android specific solution of how things work is usually out of scope of this package.

[2020-10-12 19:38] #249 closed

[2020-10-13 08:21] N1ghtly commented on #221
@henninghall it seems this is only a fix for Android? We are still running into this issue on iOS.

[2020-10-13 17:14] stephanoparaskeva opened #252 "Bug - Unable to resolve module 'moment' from 'node_modules/...'"
<img width="408" alt="Screenshot 2020-10-13 at 18 12 34" src="https://user-images.githubusercontent.com/40718272/95893376-c9a56700-0d7f-11eb-98cf-dbd963a19eab.png">

 - OS: IOS/Android
- `"react-native": "^0.63.3",`
- `"react-native-date-picker": "^3.2.4",`

[2020-10-13 18:00] henninghall commented on #252
Looks like something isn't cleared properly after your update, try the 4 steps suggested in the error message, did it help?

[2020-10-13 18:42] stephanoparaskeva commented on #252
Yes this was all I needed to do, thanks!

[2020-10-13 18:42] #252 closed

[2020-10-14 00:07] mxia commented on #21
I'm seeing this issue on v3.2.4. It looks to be caused by commit https://github.com/henninghall/react-native-date-picker/commit/69ca7de49b12926f027bfb2a722ef5c09757ecb9. Reverting back to v3.2.0 works.

[2020-10-14 18:30] dieseldjango commented on #244
I also get this error with Xcode 12.0.1 with react native 0.59.10. Upgrading to 3.2.4 did not help. I was able to workaround the problem temporarily using @chengsam's solution.

[2020-10-14 21:10] upngo opened #253 "readme androidVariant example has the option values switched"
there are two acceptable values for androidVariant - iosClone & nativeAndroid
the documentation has the example and value switched in one section
<img width="918" alt="Screen Shot 2020-10-15 at 10 09 26 AM" src="https://user-images.githubusercontent.com/6766076/96045561-9f15f400-0ece-11eb-98d0-0f25f08690d4.png">

[2020-10-15 19:49] pratius commented on #107
+1

[2020-10-16 12:23] andry1001 opened #254 "Disable 12-hour system?"
Hey!

Any ways to disable 12-hour system (AM/PM), but keep locale?

[2020-10-18 17:10] henninghall commented on #254
Nope, in what situation would you like to do this?

[2020-10-18 17:10] #254 closed

[2020-10-18 17:11] #253 closed

[2020-10-18 18:18] andry1001 commented on #254
For example in Estonia we do not use 12 hour AM/PM system. When I set Estonian locale it has the right translations, but the AM/PM time is there.

[2020-10-18 18:20] henninghall commented on #244
@dieseldjango Try the new 3.2.5 and it's probably fixed there!

[2020-10-18 18:21] henninghall commented on #21
@mxia Please try the new v3.2.5, it's most likely fixed there

[2020-10-18 18:51] henninghall commented on #254
Hmm in that case it should work by default. On android you need to set `is24hourSource='locale'` if you want to override the phone's 24h-setting.

Are you having the problem on iOS or Android? I tried to set `locale='et'` and it uses 24h format for me.

[2020-10-19 05:36] mxia commented on #21
@henninghall Thanks so much! It works.

[2020-10-19 07:50] andry1001 commented on #254
On Android, updated from 3.02 -> 3.2.5 and the same code works now.

[code]

[2020-10-19 08:15] Vickshine opened #257 "Caused by: java.lang.OutOfMemoryError"
Open often, select times, and close。 It will be crash.(version: v3.2.4  android)
log:
System.err: android.view.InflateException: Binary XML file line #16: Binary XML file line #16: Error inflating class <unknown>\
System.err: Caused by: android.view.InflateException: Binary XML file line #16: Error inflating class <unknown>\
System.err: Caused by: java.lang.reflect.InvocationTargetException\
Syste

[2020-10-19 08:35] andry1001 opened #258 "Error: Invalid color: none"
On Android, updated from 3.02 -> 3.2.5.

[code]

`fadeToColor='none'` throws "Invalid color: none" now and I couldn't find a way to remove the fade color. Seems like has something to do with `v3.1.0` and seems to me from documentation that it should still work.

[2020-10-20 07:17] baronhsiao commented on #249
@henninghall But I can stop the wheel on 31 days in February and I get the value is March 3.

[2020-10-20 17:37] henninghall commented on #247
Please reply and I will investigate this problem

[2020-10-20 17:37] #247 closed

[2020-10-21 09:41] hugoh59 opened #259 "IOS 14 update maintenante needed"
the look of the datepicker has considerably changed in ios14 and the datepicker does not look like anything anymore, this needs an update in order to work with ios14. thank you

[2020-10-21 10:16] #259 closed

[2020-10-21 18:04] henninghall commented on #257
Hi @Vickshine , can you provide a code example of how you're using the picker?

[2020-10-22 01:14] Vickshine commented on #257
like this:
<DatePicker
                            style={styles.pickerStyle}
                            date={this.state.date}
                            mode="time"
                            timeZoneOffsetInMinutes={8*60}
                            onDateChange={(date) => {
                                this.setState({date: date})
                            }}
                        />

[2020-10-22 12:47] tsdmrfth commented on #259
I have same problem. I will try to implement bottom date picker for iOS 14 in this repository by opening a pull request

[2020-10-22 17:55] henninghall commented on #259
@tsdmrfth Are you running the latest version of the package?

[2020-10-22 20:08] tsdmrfth commented on #259
@henninghall No. I think you solved the problem in latest version.

[2020-10-23 05:21] DarshanNDK commented on #34
yo, did you update the readme file as well, for custom height and width?
i.e, How do I use it? XD

[2020-10-28 11:37] Di4ik3r commented on #40
I ran into the same issue, but rebuilding (`react-native run-android`) - solved the issue

[2020-10-31 04:08] doctor-blue opened #261 "Display seconds"
I am trying to display the seconds so the user can select, I have read the documentation and see no mention of this. Can this component help me do this or not?

[2020-11-01 09:41] phuquoc164 commented on #248
@luojiong Did you fixed your problem ? I have the same problem

[2020-11-01 10:54] henninghall commented on #261
That is unfortunatly not supported and out of scope of this lib

[2020-11-01 10:54] #261 closed

[2020-11-01 13:24] mars-lan opened #262 "Time picker gets funky due to daylight saving"
**Describe the bug**
11/1 is the day that daylight saving ends for US. There's a few things that went wrong on that day:
* The AM/PM selectors show only AM/AM
* Missing hour (7 in this case) in the hour selector

![Screenshot_20201101-021827_TrayMinder](https://user-images.githubusercontent.com/24240669/97804064-52d2ef80-1c02-11eb-988f-d613a77b33a1.jpg)
![Screenshot_20201031-203059_TrayMinder](htt

[2020-11-01 13:49] gdhelp03 opened #263 "How to hide/remove/ disable particular date between minimum date and maximum date"
Hi, my code is like

`  <DatePicker date={this.state.date}  onDateChange={""} mode={'datetime'}  is24hourSource="locale" locale='en-IN'  minimumDate={"2020-11-01"} maximumDate={"2020-11-10"} />`

1. In the above scenario, it will show date from 2020-11-01 to 2020-11-10 and I want to hide/remove/disable few dates like 2020-11-05, 2020-11-06 from the list.

2. If possible can we add minimum time and

[2020-11-01 16:13] ryanoconnor7 commented on #262
We are also seeing this issue.

[2020-11-01 20:39] jmkmay commented on #262
Any findings so far @ryanoconnor7 @mars-lan ? We got this too. Oddly only an issue on Android though.

[2020-11-01 22:22] jmkmay commented on #262
Changing date to tomorrow (Nov 2) seems to resolve this... I think it's actually an Android related bug. Even the Twitter app is showing all Tweets, including ones from days or weeks ago, as "1 day ago". Hopefully this resolves itself by tomorrow.

[2020-11-04 16:55] navasiloy commented on #262
same issue

[2020-11-06 16:06] fluoxe7ine opened #264 "Unexpected infinite scrolling and run out of memory with "nativeAndroid" picker"
**Describe the bug**
Wheel starts to scroll infinitely after trying to select date before **minimumDate** or after **maximumDate**
Video process - https://streamable.com/vf3drv

**Expected behavior**
Wheel scrolls to first valid date

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS:
Redmi Note 8 Pro
MIUI vers

[2020-11-08 13:46] wmonecke commented on #262
Hi, I am also seeing this issue! Sometimes the same hour appears twice.

[2020-11-08 13:59] mars-lan commented on #262
@henninghall any chance of fixing this soon before other countries start changing their time?

[2020-11-08 14:01] wmonecke commented on #262
@mars-lan Ill try to debug the issue tomorrow and let you guys know what might be causing the issue

[2020-11-09 00:40] jmkmay commented on #262
@wmonecke for the record, this issue completely went away a day after the date change. It waas just Nov. 1 that it was an issue. I think its an Android bug.

[2020-11-19 22:25] VivienTournie commented on #258
Same error after updating to the last version : "react-native-date-picker": "^3.2.5"

[2020-11-25 08:16] vietstone-ng opened #265 "How to run the example project?"
Hello,
Sorry for this newbie question.
I'm new to React Native, and building a UI with time picker.
I think I should use this lib because of similar UI between Android and iOS.
I was trying to run the example project. I followed steps as described in README file inside examples/detox folder.
But there's error when I run 'npm install'. Below is the terminal content:

[code]

What's the problem? Ple

[2020-11-26 17:41] jmoliugp commented on #258
@andry1001 try not passing any value to `fadeToColor` prop. It worked for me.

[2020-11-26 18:52] andry1001 commented on #258
Works with `androidVariant="nativeAndroid"`, which I amm using right now, but with  `androidVariant="iosClone"` it fades to white on Android.

[2020-11-29 14:13] ajitdas123 opened #266 "How to set the date picker full width"
**Describe the bug**
I am trying to set the calendar full width, but its width remains the same

**Expected behavior**
I was expecting to take it full width

<img width="548" alt="Screenshot 2020-11-29 at 7 40 45 PM" src="https://user-images.githubusercontent.com/20204881/100544315-cd7f4100-327a-11eb-85cf-1d5e552d6870.png">

**To Reproduce**
[code]

**Smartphone (please complete the following info

[2020-12-04 15:35] naveendevs opened #267 "31 days in October"
Dynamic number of days are not handled and onChange returns the next month than that of selected, in that case.

Can this be handled?

[2020-12-04 17:51] henninghall commented on #267
Android or iOS? Which picker variant?

[2020-12-04 17:52] henninghall commented on #266
Hi! That's a limitation of the native picker varaint, if you really need this feature, try the ios clone variant.

[2020-12-04 17:52] #266 closed

[2020-12-04 18:07] naveendevs commented on #267
@henninghall Android, iOS clone and native vairant

[2020-12-05 10:49] henninghall commented on #267
What date are you trying to select when getting the wrong date? October has 31 days as far as I know 😉

[2020-12-08 03:19] TheHuns opened #268 "Unable to build release version for iOS"
**Describe the bug**
Working with the package in dev environment everything was great. When building prod version to send to store the bundler is sending an error and failing.

I am using xcode 12.2 locally but the error is happening when building the project with bitrise.

Please let me know if you need any more info. Really like the package so far, one of the best looking date pickers I have fou

[2020-12-08 17:59] TheHuns commented on #268
Found how to update the stack used in bitrise to newer version of xcode. Closing issue..

[2020-12-08 17:59] #268 closed

[2020-12-09 11:07] #199 closed

[2020-12-09 11:07] #123 closed

[2020-12-09 11:07] #171 closed

[2020-12-09 11:07] #265 closed

[2020-12-09 11:09] henninghall commented on #263
Unfortunately, this is not supported and will not be due to limitations of UIDatePicker on iOS

[2020-12-09 11:09] #263 closed

[2020-12-10 04:28] the-dut opened #270 "{Question} Confirm and Cancel Buttons?"
I'm not seeing any way to actually submit the date they pick. Is there supposed to be a confirm/cancel or select/cancel buttons that show up?  I'm not seeing any.  Thanks!

[2020-12-10 06:13] henninghall commented on #270
Good question! it is up to you to implement that yourself, if you want that in your application. Since it is a common pattern I consider adding a default implementation of that in the future.

[2020-12-10 06:13] #270 closed

[2020-12-11 03:10] noveliansyah opened #271 "customize style of date picker"
is there any way to costumize style?

from this
![Capture2](https://user-images.githubusercontent.com/63382592/101856433-e3083b00-3b97-11eb-9a02-b6ecc56fe56e.PNG)
You can see that the distance between the month and the date is very close, there is a way to add some padding or margin ?

to this
![Capture](https://user-images.githubusercontent.com/63382592/101856463-ef8c9380-3b97-11eb-9e7c-760d6319f

[2020-12-11 16:56] henninghall commented on #271
Unfortunately not, you would have to fork the library and make your own version in that case.

[2020-12-11 16:56] #271 closed

[2020-12-13 07:15] mitjnextt opened #273 "Is it possible to show just month and year?"
Het there,

You have made awesome package.

I have question not a bug reporting.

Is it possible to show just month and year instead of full date?

[2020-12-16 13:38] joaonunogomes commented on #264
Hi! Same here. Have you already find a solution for this issue?

[2020-12-16 13:40] fluoxe7ine commented on #264
@joaonunogomes Unfortunately, no ;( Temporary switched to ios version

[2020-12-17 11:35] henninghall commented on #273
Duplicate https://github.com/henninghall/react-native-date-picker/issues/17

[2020-12-17 11:35] #273 closed

[2020-12-18 06:55] mitjnextt opened #274 "Order of date is different on Pixel 2 devices"
Hey there,

On the most of devices we checked the order of the date format is Day - Month - Year

but on Pixel 2 Device, It shows Month - Day - year.

Is there any props I'm missing to reorder it??

![Item 14](https://user-images.githubusercontent.com/67790880/102584270-20d30980-412c-11eb-9777-19bd5090a97b.jpeg)

[2020-12-21 07:45] suparerkk commented on #100
in date mode why do we need time?

[2020-12-21 15:00] henninghall commented on #100
@suparerkk  Could you send a code sample that produces this error?

[2020-12-22 09:04] dnlmzw commented on #44
I'm also getting this error with Expo. Restarting my server doesn't fix it :/

[2020-12-22 09:36] henninghall commented on #44
@dnlmzw expo does not support this component. See Readme

[2020-12-22 13:33] henninghall commented on #274
The order is determined by the locale, if no locale is forced by the locale prop it will use the phone language. Are there different phone languages on the two devices?

[2020-12-22 13:35] henninghall commented on #267
Please provide a reproducible example and I will reopen the issue

[2020-12-22 13:35] #267 closed

[2020-12-23 04:41] A-ANing opened #275 "Hi! Does the library not support selecting only hours, minutes and seconds?"

[2020-12-23 04:43] A-ANing commented on #275
I don't know which library supports the function of choosing only the hours, minutes and seconds;
Does anyone recommend other libraries?

[2020-12-23 07:17] A-ANing commented on #275
I implemented this function myself, close this question

[2020-12-23 07:17] #275 closed

[2020-12-23 15:03] ralphhovsepian opened #276 "App crashes when in production mode"
The package works perfectly on my emulator. But when its on production mode, the date mode works but the datetime mode doesnt work and crashes (Android). ive tried to disable proguard, or do the same as mentioned in the documentation but it is still not working.

`

                <DatePicker androidVariant={Platform.OS === 'android' ? 'nativeAndroid' : 'iosClone'}

                date={startDat

[2020-12-23 19:06] kamlesh1000 commented on #267
I am exactly facing the same issue.
When I tried to select "31st Feb" which is invalid date, I was allowed to select it, but returned "3rd March" on select.
This is only issue on android device. It's perfect on ios as it doesn't allow the invalid date selection at all.
mode="date"
androidVariant="iosClone"

[2020-12-25 13:07] henninghall commented on #276
Hi, could you provide the stack trace? 🙂

[2020-12-26 16:33] kamlesh1000 opened #277 "Pick invalid dates too in android only"
I am exactly facing the same issue.
When I tried to select "31st Feb" which is invalid date, I was allowed to select it, but returned "3rd March" on select.
This is only issue on android device. It's perfect on ios as it doesn't allow the invalid date selection at all. Please reopen this issue.
mode="date"
androidVariant="iosClone"

[2020-12-28 09:09] ganesh-papola commented on #276
@ralphhovsepian any solution?

[2020-12-28 09:37] #274 closed

[2020-12-28 14:26] #258 closed

[2020-12-28 14:32] henninghall commented on #258
Fixed in `v3.2.6 `

[2020-12-28 20:17] #277 closed

[2020-12-28 20:33] henninghall commented on #277
Fixed in `v3.2.7`

[2020-12-28 20:33] henninghall commented on #267
Fixed in `v3.2.7`

[2020-12-29 16:10] ganesh-papola opened #281 "App crash on android"
When showing datepicker on android it crashes

sample -
[code]

 - OS: android and ios both. on android even on debug but ios working on simulator not on device
 - React Native version 63
 - react-native-date-picker version 3.2.7

[2020-12-29 16:17] #281 closed

[2021-01-01 06:04] SaadAli-rolustech opened #283 "onDateChange always return the current date."
**Describe the bug**
onDateChange always return the current date. It does not return the selected date.

**Expected behavior**
It should return the newly selected date.

**To Reproduce**
const CustomeDatePicker = () => {
    const [date, setDate] = useState(new Date());

    const dateChanged = newDate => {
        console.log('____________________________');
        console.log(newDate);

[2021-01-01 10:36] henninghall commented on #283
I don't manage to reproduce it, what is your iOS version, iPhone model and what phone language do you use?

[2021-01-01 14:10] SaadAli-rolustech commented on #283
iOS version : 14
ipad pro 4th gen
language enUS

[2021-01-02 01:07] mars-lan commented on #262
@henninghall pinging this again. If it' due to daylight saving this might happen again in a couple of month.

[2021-01-02 10:13] jaynguyen89 commented on #283
Same issue on Android, tested from API 27 to 30.

[2021-01-08 11:26] cakesoft-neha commented on #191
same problem with me also

[2021-01-09 11:42] Harpalsinh-Jadav opened #284 "mode not working on android"
whether I use mode={'date'} or mode={'time'} or mode={'datetime'}  it is giving me DateTime out put of mode={'datetime'} in android.
Also, width is given 100% but it's also not applied.

[code]

My react-native version --> 0.63.4
 here is output image--> `https://ibb.co/7XC2wWw`

[2021-01-15 07:31] nwpnkmngm opened #285 "Date not change in release iOS"
I got date cannot change when release on iOS

language : enUS

here my code

     <DatePicker mode="date"
                            style={{ width: vw(100), marginTop: 30 }}
                            locale='en-US'
                            date={new Date(personalData.birthdate)}
                            textColor={Platform.OS == 'android' ? colors.black : colors.pickerItem}

[2021-01-17 10:52] henninghall commented on #283
@jaynguyen89 Since timezone offset isn't used in the above example I believe it is a separate issue. If you could supply a different issue with a reproducible example, I am happy to investigate it.

[2021-01-17 11:30] henninghall commented on #283
@SaadAli-rolustech I don't manage to reproduce the issue. I've tried your exact device, ios version, react native and datepicker version.

Does the same problem occur when running this code?

[code]

[2021-01-17 11:48] henninghall commented on #285
Hi, thanks for reporting this.

1. Does it only happen in a release build?
2. Does it happen when you run the following code? https://github.com/henninghall/react-native-date-picker#minimal-example

[2021-01-17 11:59] henninghall commented on #284
There are several problems with your code.
1. The date object should never be a string. Don't use setDate in the render function. Use new Date() in the useState as in the example in the README.
2. Style cannot be set to a percentage as described in the error message you should have received.
3. MaximumDate needs to be set to `new Date()` not `Date()` or you will get an error.

These errors are cau

[2021-01-17 11:59] #284 closed

[2021-01-17 21:46] henninghall commented on #262
I've tried but I didn't manage to reproduce it. Would be great if you could provide some more details. @mars-lan

1. Was this only a problem on the actual date of the daylight saving switch? Or can you still reproduce it today by going back and selecting a date on the 11/1?

2. Can Which timezone did you see this in?

[2021-01-17 21:56] #264 closed

[2021-01-17 21:59] henninghall commented on #257
Fixed in https://github.com/henninghall/react-native-date-picker/pull/286 and release in v3.2.8

[2021-01-17 21:59] #257 closed

[2021-01-17 22:01] henninghall commented on #276
If this is an OutOfMemory crash, it is resolved in the lastest version 3.2.8. If not, please provide the stack trace and I'll look into it!

[2021-01-17 22:01] #276 closed

[2021-01-17 22:23] henninghall commented on #264
Fix released in 3.2.8

[2021-01-18 05:05] mars-lan commented on #262
1. I can easily reproduce the issue by changing the system date to 11/1/20
2. Pacific time (GMT-08:00), but any US time zones will work as they all end daylight saving on the same date.

[2021-01-21 13:44] tapz opened #287 "Duration selection"
Would be nice to be able to select also a duration HH:MM or even provide or your own content to the picker.

[2021-01-21 14:07] tapz opened #288 "onDateChange not fired in some Huawei Honor devices"
**Describe the bug**
onDateChange is not fired in some Huawei Honor devices

**Expected behavior**
onDateChange is called

**To Reproduce**
Add example code that reproduces the behavior.
[code]

**Smartphone (please complete the following information):**
 - OS: Android 7
 - React Native version 0.63.4
 - react-native-date-picker version 3.2.10

[2021-01-21 14:09] tapz opened #289 "Change clickable area width"
The clickable area of should be wider or the font bigger. Now it's hard to scroll as the column is so narrow. I have plenty of space on the screen, but it cannot be used causing bad UX.

[code]

[2021-01-21 15:26] Harpalsinh-Jadav opened #290 "Mode Not Working in Android"
whether I use mode={'date'} or mode={'time'} or mode={'datetime'} it is giving me DateTime out put of mode={'datetime'} in android.

[code]

I get this code from [https://github.com/henninghall/react-native-date-picker/blob/master/examples/detox/src/examples/DateMode.js](url)

My react-native version --> 0.63.4
API Version = 30,
Android Emulator = Pixel_3a_API_30_x86(AVD)
Output =
![new issue](htt

[2021-01-21 17:08] henninghall commented on #290
Hi @Harpalsinh-Jadav, thanks for reporting this.

Do you get any errors in the android log?

[2021-01-21 17:10] henninghall commented on #288
Hi @tapz! Do you get any errors in the android log?

[2021-01-21 17:12] henninghall commented on #287
Agree, that would be a great improvement, PR's are welcome! Tracking that feature request here:
https://github.com/henninghall/react-native-date-picker/discussions/199

[2021-01-21 17:12] #287 closed

[2021-01-21 17:15] henninghall commented on #288
Btw, `androidMode` is not a valid prop. I don't think that's the cause of this problem though.

[2021-01-22 05:37] Harpalsinh-Jadav commented on #290
Not specific but getting this at starting time ->

 Warning: DatePickerIOS has been merged with DatePickerAndroid and will be removed in a future release. It can now be installed and imported from '@react-native-community/datetimepicker' instead of 'react-native'. See https://github.com/react-native-community/datetimepicker

[2021-01-23 16:18] henninghall commented on #290
Allright, which emulator/phone model are you using?

[2021-01-24 19:39] henninghall commented on #290
@Harpalsinh-Jadav now I realize what the problem is, you're using `'@henninghall/react-native-date-picker'` which is a very old outdated version of this package. Uninstall that package and install `react-native-date-picker` instead and you'll be fine!

[2021-01-24 19:39] #290 closed

[2021-01-24 19:40] henninghall commented on #285
3. How does your import line look like?

[2021-01-24 19:41] #262 closed

[2021-01-24 19:46] henninghall commented on #262
Managed to fix these issues. Released in `v3.2.9`

[2021-01-24 20:00] henninghall commented on #288
@tapz since you're using `androidMode` i suspect you're using [react-native-datepicker](https://github.com/xgfe/react-native-datepicker) which is a different package, is that right?

[2021-01-24 20:41] tapz commented on #288
@henninghall No, that's not what I'm using. Probably just read the wrong documentation :-D

[2021-01-24 20:53] henninghall commented on #288
Ah alright! Could you check if you get any error logs (logcat) when this happens? Would be very helpful 🙏

[2021-02-04 02:39] HadiModarres opened #292 "Android spinner line color"
Setting  `<item name="colorControlNormal">#03b6fc</item>` in styles.xml changes color for ScrollView indicators' color across the app as well. Is there a way to set the spinner divider color without changing other parts of the app?

Thanks

[2021-02-06 09:51] henninghall commented on #292
Not that I am aware of, let me know if you find a way! Otherwise I would suggest using the "iosClone" instead.

[2021-02-06 09:51] #292 closed

[2021-02-06 09:51] henninghall commented on #283
If you are still having this problem, please try the snippet above and I will reopen this issue.

[2021-02-06 09:51] #283 closed

[2021-02-06 09:52] henninghall commented on #285
If you are still having this problem, please answer the questions above and I will reopen this issue.

[2021-02-06 09:52] #285 closed

[2021-02-08 11:42] pragyawebvillee opened #293 "Date format support : YYYY-MM-DD while opening picker."
When the picker is opened, it opens date with DD MM YYYY format, I changed locale for this but the picker opens it in another language.

**Expected behavior**
I want to open Picker in YYYY MM DD format

**To Reproduce**
<DatePicker
        locale=''
        format="YYYY-MM-DD"
        date={props.date}
        mode={'date'}
        maximumDate={props.date}
        onDateChange={changeDateValue}

[2021-02-08 19:42] henninghall commented on #293
Specifying a different format in other ways than changing the locale is or will not be supported since thats how UIDatePicker works. Which country or countries are you trying to target?

[2021-02-08 19:42] #293 closed

[2021-02-15 19:03] LuisC360 opened #294 "Date picker is not showing correctly on iOS"
I have an issue regarding date-picker on iOS, the picker is not showing correctly on screen (see the attached picture), while on Android works perfectly fine.

I'm using the example from the main page.

Currently I'm working with v2.7.8, alongside react-native v0.62.2 and React v16.11.0. iOS v14.4 and Android v10

![WhatsApp Image 2021-02-15 at 11 36 37 AM](https://user-images.githubusercontent.co

[2021-02-15 19:10] henninghall commented on #294
Hi, try updating to latest version of this package, did it help?

[2021-02-15 19:26] henninghall commented on #294
Duplicate of https://github.com/henninghall/react-native-date-picker/issues/212

Fixed in latest version

[2021-02-15 19:26] #294 closed

[2021-02-16 04:21] ajitdas123 commented on #283
@henninghall,  I am also facing the same issue, I have tried with your snippet above with little changes and the issue came back. Here is my snippet
[code]
 My Props are as follows
[code]
Platform: IOS
Package Version:    "react-native-date-picker": "^3.2.9",
React native: 0.63.3

![Screen Recording 2021-02-16 at 9 45 46 AM](https://user-images.githubusercontent.com/20204881/108017999-777d9680-703

[2021-02-16 06:22] henninghall commented on #283
Thanks for the video and explanation!

You've set the max date to 2007, that's why you want get onchange callbacks after that date. (and it automatically scrolls back). Does it work for years before 2007?

[2021-02-16 21:30] har0ld-scl opened #295 "Native Android variant freezes app when using either minimunDate, maximumDate and scroll over invalid dates"
**Describe the bug**
Unmounting the date picker configured with `nativeAndroid` variant plus either `minimumDate`, `maximumDate` or both, while the wheel is still spinning will cause the app stop responding.

**Expected behavior**
The app shouldn't freeze when the component is unmounted in any conditions.

**To Reproduce**
[code]

Also I've created the following repo to reproduce the problem:
http

[2021-02-20 08:00] #295 closed

[2021-02-20 08:05] henninghall commented on #295
@har0ld-scl  Thanks for that PR, the fix is released in `v3.2.10`

[2021-02-20 22:29] har0ld-scl commented on #295
@henninghall  Awesome news!

I’m happy to help.

[2021-02-21 15:51] tapz commented on #288
I don't myself have the devices where this occurs, but I know the device codes:

Honor 6A (DLI-L22) Android 7
Honor 8 (FRD-L09) Android 7
Honor 9 (STF-L09) Android 9

I only have this device where this does NOT occur:

Honor P8 Lite (PRA-LX1) Android 8

[2021-02-25 07:44] pragyawebvillee commented on #293
Targeting Countryies: India & Malaysia

[2021-03-01 17:52] tapz commented on #288
Now I got my hands on FRD-L09. The only error I see in the logcat is this:

`ReactEventEmitter: Unable to find event emitter for reactTag: 2131231232 - uiManagerType: 2`

[2021-03-01 18:31] tapz commented on #288
I changed the phone language to English and now `onChange` is called. I tested with countries US, UK and Finland. Only US had the AM/PM selector, so it does not seem to be related to that. But when I select Finnish/Finland or Swedish/Sweden it does not get fired.

[2021-03-01 18:40] henninghall commented on #288
Thanks for helping investigating this! Do you see any "non-error stacktraces" being printed in the logs? There are some places where errors gets caught and stack traces printed on the default log level.

[2021-03-01 19:46] tapz commented on #288
I don't see any non-error logging or stack traces.

[2021-03-03 19:44] henninghall commented on #288
Alright, now if you could put in some breakpoints in the code when running it on the Honor device I think we can find the root cause of this. If you run the app in debug mode from Android Studio and put some breakpoints in the file `WheelChangeListenerImpl.java`. Does the function gets called? How far does the function run? Just let me know if you have any problems debugging it.

[2021-03-05 10:47] ranjanrukhaya opened #298 "Reduce library size by excluding for non english resources"
This lib support multiple languages and include many resources for that but I  just need to support only one language i.e "en" in the date picker.

Is there any way by which i can only get the resources required for "en" language and exclude others. This will help us in reducing app size.

[2021-03-17 10:48] NexflareGI opened #300 "AM PM 🐛"
**Bug**
Suppose the date prop of the library uses any time greater than 6pm and less than 11pm. As soon as I change the value of date prop to any other date with time 12 am the library first goes to am (as expected) and then automatically comes back to pm.

[2021-03-23 05:10] Trex28 opened #301 "IllegalArgumentException crash on Android"
**Describe**
Since upgrading to RN 0.64 we encounter following crash on Android

The weird part here is that in our project we use `react-native-gesture-handle` in other components but when we scroll to change the date from `DatePickerField` it starts to crash on Android and the log points out crash because of `react-native-gesture-handler`. I am not sure that i am right if i post this issue in he

[2021-03-23 05:12] Trex28 commented on #301
Related to this issue on `react-native-gesture-handler` repo: https://github.com/software-mansion/react-native-gesture-handler/issues/1284

[2021-04-02 00:57] ajen010 commented on #301
Is there a workaround for this problem? My android simulator and phone crash whenever I touch the datepicker.

[2021-04-02 05:44] henninghall commented on #301
Hi! I believe there is a naming collision. Could you help me try this out? Rename the UIManager.java and its references in this project and rebuild.

You can do it in node modules or in android studio.

[2021-04-04 01:30] Hoopex opened #304 "Please add props to change theme color [Dark or Light theme]"
### Feature Request
This feature is needed so as to match the picker text color (androidVariant="nativeAndroid") with the app theme to make it more useful.
Thanks.

[2021-04-04 08:35] devautor commented on #301
I am not able to resolve this using this fix. With my limited understanding, I believe this issue is closer to the RN core as being discussed here: https://github.com/facebook/react-native/issues/31245

[2021-04-06 08:44] BadtzMaru opened #305 "react-native 0.63.4 版本下 android不能编译成功"
react-native 0.63.4 版本下 android不能编译成功, ios正常使用

[2021-04-07 06:35] sharifhh commented on #301
Here is a patch-package script as a workaround for now

`diff --git a/node_modules/react-native-date-picker/android/src/main/java/com/henninghall/date_picker/PickerView.java b/node_modules/react-native-date-picker/android/src/main/java/com/henninghall/date_picker/PickerView.java
index 53ee357..de0fcca 100644
--- a/node_modules/react-native-date-picker/android/src/main/java/com/henninghall/date_pic